<div class="sidebar close">
  <div class="logo-details">
    <i class="bx bx-menu" onclick="sidebar_toggle()"></i>
    <span class="logo_name"><%=i18n.Menu%></span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/home/admin">
        <i class="fas fa-home"></i>
        <span class="link_name"><%=i18n.Home%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/home/admin"><%=i18n.Home%></a></li>
      </ul>
    </li>
    <li>
      <a href="/register">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <span class="link_name"><%=i18n.Register%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/register"><%=i18n.Register%></a></li>
      </ul>
    </li>
    <li>
      <a href="/view/doctor">
        <i class="fas fa-user-md"></i>
        <span class="link_name"><%=i18n.Doctor%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/doctor"><%=i18n.Doctor%></a></li>
      </ul>
    </li>
    <li>
      <a href="/view/patient">
        <i class="fas fa-procedures"></i>
        <span class="link_name"><%=i18n.Patient%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/patient"><%=i18n.Patient%></a></li>
      </ul>
    </li>
    <li>
      <a href="/view/questions">
        <i class="fas fa-question"></i>
        <span class="link_name"><%=i18n.Questions%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/questions"><%=i18n.Questions%></a></li>
      </ul>
    </li>
    <li>
      <a href="/view/<%=user._id%>">
        <i class="fas fa-user"></i>
        <span class="link_name"><%=i18n.MyProfile%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/<%=user._id%>"><%=i18n.MyProfile%></a></li>
      </ul>
    </li>
    <li>
      <a data-bs-toggle="modal" data-bs-target="#langModal" style="cursor: pointer;">
        <i class="fa fa-language" aria-hidden="true"></i>
        <span class="link_name"><%=i18n.ChangeLanguage%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" data-bs-toggle="modal" data-bs-target="#langModal"><%=i18n.ChangeLanguage%></a></li>
      </ul>
    </li>
    <li>
      <a href="/changepassword">
        <i class="fas fa-key"></i>
        <span class="link_name"><%=i18n.ChangePassword%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/changepassword"><%=i18n.ChangePassword%></a></li>
      </ul>
    </li>
    <li>
      <a href="/logout">
        <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
        <span class="link_name"><%=i18n.Logout%></span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/logout"><%=i18n.Logout%></a></li>
      </ul>
    </li>
    <li>
      <a href="/view/<%=user._id%>">
        <div class="profile-details">
          <div class="profile-content" onClick="">
            <img src="/images/profile.jpg" alt="profileImg" />
          </div>
          <div class="name-job">
            <div class="profile_name"><%=user.name%></div>
            <div class="job"><%=user.role%></div>
          </div>
          <i></i>
        </div>
      </a>
    </li>
  </ul>
</div>
<%- include("langModal") %>
