<div class="sidebar close">
  <div class="logo-details">
    <i class="bx bx-menu" onclick="sidebar_toggle()"></i>
    <span class="logo_name">Menu</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/home/admin">
        <i class="fas fa-home"></i>
        <span class="link_name">Home</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/home/admin">Home</a></li>
      </ul>
    </li>
    <li>
      <a href="/register">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <span class="link_name">Register</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/register">Register</a></li>
      </ul>
    </li>
    <li>
      <a href="/view/doctor">
        <i class="fas fa-user-md"></i>
        <span class="link_name">Doctor</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/doctor">Doctor</a></li>
      </ul>
    </li>
    <li>
      <a href="/view/patient">
        <i class="fas fa-procedures"></i>
        <span class="link_name">Patients</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/patient">Patients</a></li>
      </ul>
    </li>
    <li>
      <a href="/addquestion">
        <i class="fas fa-question">+</i>
        <span class="link_name">Add Question</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/addquestion">Add Question</a></li>
      </ul>
    </li>
    <li>
      <a href="/view/<%=user._id%>">
        <i class="fas fa-user"></i>
        <span class="link_name">My Profile</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/<%=user._id%>">My Profile</a></li>
      </ul>
    </li>
    <li>
      <a href="/changepassword">
        <i class="fas fa-key"></i>
        <span class="link_name">Change Password</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/changepassword">Change Password</a></li>
      </ul>
    </li>
    <li>
      <a href="/logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="link_name">Logout</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/logout">Logout</a></li>
      </ul>
    </li>
    <li>
      <a href="/view/<%=user._id%>">
        <div class="profile-details">
          <div class="profile-content" onClick="">
            <img src="/images/profile.jpg" alt="profileImg" />
          </div>
          <div class="name-job">
            <div class="profile_name"><%=user.name%></div>
            <div class="job"><%=user.role%></div>
          </div>
          <i></i>
        </div>
      </a>
    </li>
  </ul>
</div>
