<div class="sidebar close">
  <div class="logo-details">
    <i class="bx bx-menu" onclick="sidebar_toggle()"></i>
    <span class="logo_name">Menu</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/home/doctor/<%=user._id%>">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li>
          <a class="link_name" href="/home/doctor/<%=user._id%>">Dashboard</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/view/patient/<%=user._id%>">
        <i class="fas fa-procedures"></i>
        <span class="link_name">Patients</span>
      </a>
      <ul class="sub-menu blank">
        <li>
          <a class="link_name" href="/view/patient/<%=user._id%>">Patients</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/create/test">
        <i class="far fa-clipboard"></i>
        <span class="link_name">Create Test</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/create/test">Create Test</a></li>
      </ul>
    </li>
    <li>
      <a href="/view/tests/<%=user._id%>">
        <i class='bx bx-edit-alt'></i>
        <span class="link_name">Edit Tests</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/tests/<%=user._id%>">Edit Tests</a></li>
      </ul>
    </li>
    <li>
      <a href="/view/<%=user._id%>">
        <i class="fas fa-user"></i>
        <span class="link_name">My Profile</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/view/<%=user._id%>">My Profile</a></li>
      </ul>
    </li>
    <li>
      <a href="/changepassword">
        <i class="fas fa-key"></i>
        <span class="link_name">Change Password</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/changepassword">Change Password</a></li>
      </ul>
    </li>
    <li>
      <a href="/logout">
        <i class="bx bx-log-out"></i>
        <span class="link_name">Logout</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/logout">Logout</a></li>
      </ul>
    </li>
    <li>
      <a href="/view/<%=user._id%>">
        <div class="profile-details">
          <div class="profile-content" onClick="">
            <img
              src="https://static.remove.bg/remove-bg-web/a6eefcd21dff1bbc2448264c32f7b48d7380cb17/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png"
              alt="profileImg"
            />
          </div>
          <div class="name-job">
            <div class="profile_name"><%=user.name%></div>
            <div class="job"><%=user.role%></div>
          </div>
          <i></i>
        </div>
      </a>
    </li>
  </ul>
</div>
