<div class="modal fade" id="instModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <ol><b>
                <li>
                    <p><%=i18n.instructions1%></p>
                </li>
                <li>
                    <p><%=i18n.instructions2%></p>
                </li>
                <li>
                    <p><%=i18n.instructions3%></p>
                </li>
                <li>
                    <p><%=i18n.instructions4%></p>
                </li>
                <li>
                    <p><%=i18n.instructions5%></p>
                </li></b>
          </ol>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal"><%=i18n.Proceed%></button>
          </div>
        </div>
      </div>
    </div>
</div>