<div class="container d-none" id='instructions'>
  <div class="row justify-content-center align-items-center p-1 p-sm-2" style="height: 100vh">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card shadow-lg rounded-lg">
        <div class="card-header p-3">
          <h4 class="card-title blue text-center"><%=i18n.Instructions %></h4>
        </div>
        <div class="card-body tab d-none mt-4">
          <div class='text-center'>
            <select class="form-select form-select-lg" id='list_of_mic'>

            </select>
          </div>
          <div class="pids-wrapper1 text-center d-none">
            <div class="pid1"></div>
            <div class="pid1"></div>
            <div class="pid1"></div>
            <div class="pid1"></div>
            <div class="pid1"></div>
            <div class="pid1"></div>
            <div class="pid1"></div>
            <div class="pid1"></div>
          </div>
          <div class='text-center pt-3'>
            <button class="btn btn-success btn-lg rounded-circle" onclick="startRec()" id='rec'><i class="fa fa-microphone" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="card-body tab d-none">
          <ul class="list-group p-1">
            <li class="list-group-item">
              <p class="h5 blue text-start"><%=i18n.ScoresRecieved %></p>
              <ul>
                <li><%=i18n.answeringeachquestion %></li>
                <li><%=i18n.skipaquestion %></li>
                <li><%=i18n.skippedcannotrevisited %></li>
              </ul>
            </li>
          </ul>
          <ul class="list-group p-1">
            <li class="list-group-item">
              <p class="h5 blue text-start"><%=i18n.HintsTaken %></p>
              <ul>
                <li><%=i18n.hints4 %>
                    </li>
                    <li><%=i18n.Whenahintistaken %>
                    </li>
                    <li><%=i18n.Hintscanberevisited %>
                    </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-body tab d-none">
          <ul class="list-group p-1">
            <li class="list-group-item">
              <p class="h5 blue text-start"><%=i18n.PauseTest %></p>
              <ul>
                <li><%=i18n.pauseandtakeitlater %></li>
                <li><%=i18n.pointyouhadstopped %></li>
                <li><%=i18n.eithercaseyourtestwillbecontinued %></li>
              </ul>
            </li>
          </ul>
          <ul class="list-group p-1">
            <li class="list-group-item">
              <p class="h5 blue text-start"><%=i18n.SpeechToText %></p>
              <ul>
                <li><%=i18n.Apartfromtyping %></li>
                <li><%=i18n.TaketheMicrophoneCheck %></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-body tab d-none">
          <ul class="list-group p-1">
            <li class="list-group-item">
              <p class="h5 blue text-start"><%=i18n.FinalScore %></p>
              <ul>
                <li><%=i18n.numberofcorrectanswers %></li>
                <li><%=i18n.testreportgenerated %></li>
                <li><%=i18n.Reportreflecteddashboard %></li>
              </ul>
            </li>
          </ul>
          <ul class="list-group p-1 h6 text-center">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" id='instruRead'><label for="instruRead"> <%=i18n.readandunderstoodallinstructions %></label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" id='micTested'><label for="micTested"> <%=i18n.havecompletedthemicrophonetest %></label>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="p-1 text-center">
            <button type="button" id="prevBtn" class="btn btn-secondary btn-lg" onclick="nextPrev(-1)"><i class="fa-solid fa-angles-left"></i></button>
            <button type="button" id="nextBtn" class="btn btn-primary btn-lg" onclick="nextPrev(1)" disabled><i class="fa-solid fa-angles-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>