<%- include("partials/header") %>
<%- include("partials/adminSideBar") %>
  <% if(message.error){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
       <strong class="text-center"><%= message.error%></strong>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 <% } %>
 <% if(message.success){ %>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
       <strong class="text-center"><%= message.success%></strong>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 <% } %>
<%- include("partials/footer") %>