<%- include("partials/header") %>
    <% if(user.role==="admin" ) {%>
        <%- include("partials/adminSideBar") %>
    <% } else if(user.role==="patient" ) { %>
        <%- include("partials/patientSideBar") %>
    <% } else { %>
        <%- include("partials/doctorSideBar") %>
    <% } %>
    <div class="container-fluid">
        <%- include("partials/flashMsg") %>
        <div class="row justify-content-center align-items-center" style="height:88vh;">
            <div class="offset-2 col-10 offset-sm-1 col-sm-8 offset-lg-0 col-xl-5 text-center card shadow mt-3">
                <h3 class="text-center mt-3"><%=i18n.ChangePassword%></h3>
                <div class="row justify-content-center">
                    <div class="separator col-12"></div>
                </div>
                <div class="row justify-content-center px-4">
                    <div class="col-12">
                        <form  action="/changepassword" method="post" onsubmit="return checkPassword()">
                            <div>
                                <input type="password" placeholder="<%=i18n.EnterOldPassword%>" class="login-input" id='oldPass' name="oldPassword" required>
                            </div>
                            <div>
                                <input type="password" name="newPassword" placeholder="<%=i18n.EnterNewPassword%>" class="login-input" id="newPass" required>
                                <span toggle="newPass" class="fa fa-fw fa-eye field-icon toggle-password" onclick="show(this)"></span>
                            </div>
                            <div>
                                <input type="password" name="confirmpassword" placeholder="<%=i18n.ConfirmNewPassword%>" class="login-input" id="reEnterPass" required>
                            </div>
                            <div class="text-center p-3">
                                <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="<%=i18n.Confirm%>" id="formsubmit"/>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
<script>
    function checkPassword(form) {
        oldPass= document.getElementById("oldPass").value;
        reEnterPass =document.getElementById("reEnterPass").value;
        newPass = document.getElementById("newPass").value;
        if (newPass != reEnterPass) {
            swal("<%=i18n.Failed%>","<%=i18n.PassworddidnotMatch%>", "error");
            document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
            document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
            return false;
        }
        if(oldPass===newPass){
            swal("<%=i18n.Warning%>","<%=i18n.Oldandnewpasswordaresame%>", "warning");
            document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
            document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
            return false;
        }
        return true;
    }
    function show(e) {
        e.classList.toggle("fa-eye-slash");
        let input=e.getAttribute("toggle");
        if (document.getElementById(input).type == "password") {
            document.getElementById(input).type="text";
        } else {
            document.getElementById(input).type="password";
        }
    }
</script>
<%- include("partials/footer") %>
                

    
