<%- include("partials/header") %>
    <% if(user.role==="admin" ) {%>
        <%- include("partials/adminSideBar") %>
    <% } else if(user.role==="patient" ) { %>
        <%- include("partials/patientSideBar") %>
    <% } else { %>
        <%- include("partials/doctorSideBar") %>
    <% } %>
    <div class="container-fluid">
        <%- include("partials/flashMsg") %>
        <div class="row justify-content-center align-items-center" style="height:88vh;">
            <div class="offset-2 col-10 offset-sm-1 col-sm-8 offset-lg-0 col-xl-5 text-center card shadow p-2">
                <h3 class="text-center"><%=i18n.ChangePassword%></h3>
                <div class="row justify-content-center">
                    <div class="separator col-12"></div>
                </div>
                <div class="row justify-content-center px-4">
                    <div class="col-12">
                        <form  action="/changepassword" method="post" onsubmit="return checkPassword()">
                            <div>
                                <input type="password" placeholder="<%=i18n.EnterOldPassword%>" class="login-input" id='oldPass' name="oldPassword" required>
                            </div>
                            <div>
                                <input type="password" name="newPassword" placeholder="<%=i18n.EnterNewPassword%>" class="login-input" id="newPass" required>
                                <span toggle="newPass" class="fa fa-fw fa-eye field-icon toggle-password" onclick="show(this)"></span>
                            </div>
                            <div>
                                <input type="password" name="confirmpassword" placeholder="<%=i18n.ConfirmNewPassword%>" class="login-input" required>
                            </div>
                            <div class="text-center p-3">
                                <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="<%=i18n.Confirm%>" id="formsubmit"/>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
<script>
    function checkPassword() {
        password1 =document.getElementById("oldPass").value;
        password2 = document.getElementById("newPass").value;
        if (password1 != password2) {
            alert ("\nPassword did not match, Please try again...")
            return false;
        }
        return true;
    }
    function show(e) {
        e.classList.toggle("fa-eye-slash");
        let input=e.getAttribute("toggle");
        if (document.getElementById(input).type == "password") {
            document.getElementById(input).type="text";
        } else {
            document.getElementById(input).type="password";
        }
    }
</script>
<%- include("partials/footer") %>
                

    
