<%- include("partials/header") %>
<main id="test-main">
    <form action="/create/test" method="POST" id="testForm" onsubmit="return noofqval();"> 
        <ol class="gradient-list">
            <% var i=1;%>
            <% question.forEach((question)=>{ %>
                <li class="row shadow-lg mb-5 bg-body rounded-lg">
                    <div class="card-image p-2">
                        <div class="inputGroup">
                            <input id="option<%=i%>" class="form-check-input" type="checkbox" id="q-checkbox" value="<%=question._id %>" name="questions">
                            <label for="option<%=i%>">this is the quetion no. 0</label> 
                        </div>
                        <div class="hover-img">
                            <span class="p-1 rounded-lg my-3" id="qimg">
                                <img src="data:image/<%=question.question.contentType%>;base64,<%=question.question.data.toString('base64')%>" alt="image" class="img-fluid" style="max-height: 18rem;"/>      
                            </span>
                        </div>
                        
                    </div>   
                </li>
                <%i++;%>
            <% }) %>
        </ol>
        <div class="row justify-content-center">
            <div class="col-6">
                <label for="patient">Choose Patient</label>
                <select name="doctorid" id="doctorid" class="form-select form-select-lg my-2 p-2" aria-label=".form-select-lg" required>
                    <% patient.forEach((patient)=> { %>
                        <option value="<%=patient._id%>"><%=patient.name%></option>
                    <% }) %>
                  </select>
            </div>
            <div class="col-6">
                <label for="level">Enter Level</label>
                <input type="number" name="level" id="login-input" placeholder="1-5" onchange="funlevel(this.value)" required/>
            </div>
        </div>
        <div class="text-center p-3">
            <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="Create Test" id="formsubmit"/>
        </div>
        </div>
    </form>
</main>
<script>
    function noofqval() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        if(checkboxes.length<10){
            alert("Please select atleast 10 questions..");
            return false;
        }
        else{
            var ele=document.getElementById("formsubmit");
            ele.disabled=true;
            ele.value="Creating..."
            return true;
        }
    }
    function funlevel(value) {
        if(value<=0 || value>5){
            alert("Please enter Level between 1-5");
            document.getElementById("login-input").value = "";
        }
    }
</script>
<%- include("partials/footer") %>