<%- include("partials/header") %>
<%- include("partials/doctorSideBar") %>
<%- include("partials/no_patient",{msg:[i18n.Noquestions,i18n.Createdyet1,'No questions']})%>
<div class="container-fluid" id="view-question">
    <%- include("partials/edit_Create_Test_Tab") %>
    <%- include("partials/no_Question",{msg:[i18n.NoQuestions,i18n.Selectedyet]})%>
    <form action="/create/test" method="POST" id="testForm" onsubmit="return noofqval();">
        <div class="row justify-content-center ms-5 mt-5" id='question-row'>
            <div class="ms-3 col-11 col-lg-10 col-xl-8">
                <div class="row justify-content-center gradient-list p-1" id='div_list'>
                    <% var i=1;%>
                    <% let len=question.length %>
                    <% question.forEach((question)=>{ %>
                        <div class="col-12 border border-2 rounded-3 shadow-sm my-2 py-3 <%= question.level%>" id="question<%=i%>">
                            <div class="card-image mx-0 p-2">
                                <div class="inputGroup">
                                    <input id="option<%=i%>" class="form-check-input question<%=i%> op<%=question.level%>" type="checkbox"  value="<%=question._id %>" name="questions" onclick="countQuestion()">
                                    <label for="option<%=i%>">
                                        <div class="row">
                                            <div class="col-10 col-sm-11 col-md-5 text-truncate">
                                                <strong><%=question.name%></strong>
                                            </div>
                                            <div class="col-10 col-sm-11 col-md-5 mt-2 mt-md-0">
                                                <p class="h6"> 
                                                    <%for(let i=1;i<=5;i++){%>
                                                      <%if(i<=question.level){%>
                                                        <span class = "fa fa-star checked"></span>
                                                      <%} else{%>
                                                        <span class = "fa fa-star unchecked"></span>
                                                      <%}%>
                                                    <%}%>
                                                </p>   
                                            </div>
                                        </div>
                                    </label> 
                                </div>
                                <div class="hover-img">
                                    <span class="p-1 rounded-lg my-3" id="qimg">
                                        <img src="data:image/<%=question.question.contentType%>;base64,<%=question.question.data.toString('base64')%>" alt="image" class="img-fluid" style="max-height: 12rem;"/>      
                                    </span>
                                </div>
                            </div>   
                        </div>
                    <%i++;%>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="offset-2 offset-sm-1 offset-lg-0 text-center d-none blue my-4" id="loader">
            <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"><%=i18n.Loading%>...</span>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-4 d-none" id="sel-pat">
            <div class="offset-2 col-9 offset-sm-1 offset-md-1 col-md-6 col-lg-4 offset-lg-0">
                <label for="patient" class="mb-2"><%=i18n.ChoosePatient%></label>
                <select name="patientid"  id="patient-list" class="form-select form-select-lg p-2" aria-label=".form-select-lg" onchange="chnage_patinet_list()" multiple>
                    <% patient.forEach((patient)=> { %>
                        <option value="<%=patient._id%>"><%=patient.name%></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-1 d-none" id="title">
            <div class="offset-2 col-9 offset-sm-1  col-md-6 col-lg-4 offset-lg-0">
                <label for="title" class="mt-2">Title of the test</label>
                <input type="text" name="name" class="login-input" id="title"  placeholder="Enter title.."/>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center mt-1 d-none" id="sel-lev">
            <div class="offset-2 col-9 offset-sm-1 offset-lg-0 col-md-6 text-center mt-2">
                <%- include("partials/starLevel") %>
            </div>
            <input type="text" name="patientIDs" class="d-none" value="[]" id='patientIDs'/>
        </div>
        <div class="offset-2 offset-sm-1 offset-lg-0 text-center p-2 d-none my-2" id="res_but">
            <button type="button" class="btn btn-primary rounded-pill btn-lg" onclick="reSet();"><%=i18n.Reset%> <i class="fa fa-refresh" aria-hidden="true"></i></button>
            <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="<%=i18n.CreateTest%>" id="formsubmit"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    if(parseInt('<%=len%>')===0){
        document.getElementById('view-question').classList.add('d-none');
        document.getElementById('no-data').classList.remove('d-none');
    }
</script>
<script src='/create_edit_test.js'></script>
<script>
    let k=1;   //multiplier used to skip questions 5,10,15 so on...
    let li_id=parseInt('<%=i%>'); //used in input and labels
    let isCompleted=false; //true is no more questions
    let temp=isCompleted; 
    
    function noofqval() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        if(document.getElementById("patientIDs").value ==="[]"){
            swal("<%=i18n.Alert%>","<%=i18n.selecatleast1patient%>", "info");
            document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
            document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
            return false;
        }
        if(checkboxes.length<5){
            swal("<%=i18n.Note%>","<%=i18n.selectatleast5que%>", "warning");
            document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
            document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
            return false;
        }
        else{
            var ele=document.getElementById("formsubmit");
            ele.disabled=true;
            ele.value="Creating..."
            return true;
        }
    }

    window.onscroll = function(ev) {
        if (!isCompleted && ((window.innerHeight + window.scrollY+1) >= document.body.offsetHeight)) {
            document.getElementById('loader').classList.remove('d-none')
            fetch('/create/test/'+(k*10))
            .then(response => response.json())
            .then(question=>{
                if(question.message==="No more questions")
                {
                    document.getElementById('loader').classList.add('d-none');
                    isCompleted=true;
                    return
                }
                for(let q=0;q<question.question.length;q++) {
                    append_div(question.question[q],'');
                }
                document.getElementById('loader').setAttribute('hidden','');
            });
            k=k+1;
        }
    };
</script>
<%- include("partials/footer") %>
