<%- include("partials/header") %>
<%- include("partials/doctorSideBar") %>
<div class="container-fluid">
    <%- include("partials/edit_Create_Test_Tab") %>
    <form action="/create/test" method="POST" id="testForm" onsubmit="return noofqval();">
        <div class="row justify-content-center">
            <div class="offset-1 col-11 offset-sm-1 col-sm-9 offset-lg-0 col-lg-8 col-xl-6">
                <div class="row justify-content-center gradient-list mb-2 p-1" id='div_list'>
                    <% var i=1;%>
                    <% question.forEach((question)=>{ %>
                        <div class="offset-1 offset-sm-0 col-9 col-sm-10 col-lg-11 col-xl-10 shadow-lg bg-body rounded-lg <%= question.level%>" id="question<%=i%>">
                            <div class="card-image mx-0 p-2">
                                <div class="inputGroup">
                                    <input id="option<%=i%>" class="form-check-input question<%=i%> op<%=question.level%>" type="checkbox"  value="<%=question._id %>" name="questions" onclick="countQuestion()">
                                    <label for="option<%=i%>"><strong><%=question.answer%></strong></label> 
                                    <p class="h6"><%=i18n.Level%> : 
                                        <%for(let i=1;i<=5;i++){%>
                                          <%if(i<=question.level){%>
                                            <span class = "fa fa-star checked"></span>
                                          <%} else{%>
                                            <span class = "fa fa-star unchecked"></span>
                                          <%}%>
                                        <%}%>
                                    </p>
                                </div>
                                <div class="hover-img">
                                    <span class="p-1 rounded-lg my-3" id="qimg">
                                        <img src="data:image/<%=question.question.contentType%>;base64,<%=question.question.data.toString('base64')%>" alt="image" class="img-fluid" style="max-height: 12rem;"/>      
                                    </span>
                                </div>
                            </div>   
                        </div>
                    <%i++;%>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center d-none blue my-4" id="loader">
            <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"><%=i18n.Loading%>...</span>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-4 d-none" id="sel-pat">
            <div class="offset-2 col-9 offset-sm-1 offset-md-1 col-md-4 offset-lg-0">
                <label for="patient" class="mb-2"><%=i18n.ChoosePatient%></label>
                <select name="patientid"  id="patient-list" placeholder="Select patients" class="form-select form-select-lg p-2" aria-label=".form-select-lg" onchange="chnage_patinet_list()" multiple>
                    <% patient.forEach((patient)=> { %>
                        <option value="<%=patient._id%>"><%=patient.name%></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center d-none mt-1" id="sel-lev">
            <div class="offset-2 col-9 offset-sm-1 offset-md-0 col-md-4 text-center mt-2">
                <%- include("partials/starLevel") %>
            </div>
            <input type="text" name="patientIDs" class="d-none" value="[]" id='patientIDs'/>
        </div>
        <div class="offset-2 offset-sm-0 text-center p-2 d-none my-2" id="res_but">
            <button type="button" class="btn btn-primary rounded-pill btn-lg" onclick="reSet();">Reset <i class="fa fa-refresh" aria-hidden="true"></i></button>
            <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="Create Test" id="formsubmit"/>
        </div>
    </form>
</div>

<script>
    let k=1;   //multiplier used to skip questions 5,10,15 so on...
    let li_id=parseInt('<%=i%>'); //used in input and labels
    let isCompleted=false; //true is no more questions
    let temp=isCompleted; 

    function chnage_patinet_list(){
        var selected = $("#patient-list :selected").map((_, e) => e.value).get();
        document.getElementById('patientIDs').value=JSON.stringify(selected);
        console.log(document.getElementById('patientIDs').value)
    }
    $(document).ready(function(){
        var multipleCancelButton = new Choices('#patient-list', {
            removeItemButton: true,
            maxItemCount:100,
            searchResultLimit:10,
            renderChoiceLimit:5
        });
    });
    
    function noofqval() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        if(document.getElementById("patientIDs").value ==="[]"){
            alert("Please select at least 1 patinet");
            return false;
        }
        if(checkboxes.length<5){
            alert("Please select atleast 5 questions..");
            return false;
        }
        else{
            var ele=document.getElementById("formsubmit");
            ele.disabled=true;
            ele.value="Creating..."
            return true;
        }
    }

    window.onscroll = function(ev) {
        if (!isCompleted && ((window.innerHeight + window.scrollY+1) >= document.body.offsetHeight)) {
            document.getElementById('loader').classList.remove('d-none')
            fetch('/create/test/'+(k*10))
            .then(response => response.json())
            .then(question=>{
                if(question.message==="No more questions")
                {
                    document.getElementById('loader').classList.add('d-none');
                    isCompleted=true;
                    swal("Completed!", "Sorry..,No more questions...!", "info");
                    document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
                    document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
                    return
                }
                for(let q=0;q<question.question.length;q++) {
                    append_div(question.question[q],'');
                }
                document.getElementById('loader').setAttribute('hidden','');
            });
            k=k+1;
        }
    };
</script>
<script src='/create_edit_test.js'></script>
<%- include("partials/footer") %>
