<%- include("partials/header") %>
<%- include("partials/doctorSideBar") %>
<%- include("partials/no_patient",{msg:['No Patients','assigned for you..!']})%>
<div class="container-fluid d-none" id='home'>
  <%- include("partials/flashMsg") %>

  <div class="row justify-content-center mt-2">
    <div class="offset-2 col-9 offset-sm-1 col-sm-9 offset-md-0 col-md-6 col-lg-5 col-xl-4">
      <label for="patient"><%=i18n.ChoosePatient%></label>
      <select class="form-select form-select-lg my-2 p-2" aria-label=".form-select-lg" onchange="disp_patient_details(this.value)">
        <% let patinetId%>
        <% if(patient.length > 0) {%>
          <% patinetId=patient[0]._id%>
        <%}%>
        <% patient.forEach((patient)=> { %>
          <option value="<%=patient._id%>"><%=patient.name%></option>
        <% }) %>
      </select>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-lg-10 p-3">
      <div class="card shadow">
        <div class="d-flex justify-content-center align-items-center blue" id='spinner-0' style="height:220px">
          <div class="spinner-border" role="status">
            <span class="visually-hidden"><%=i18n.Loading%>...</span>
          </div>
        </div>
        <div class="row mx-3 mx-sm-0 text-center justify-content-center card-body" id='patient-details' hidden>
          <div class="col-sm-8 col-md-4 my-auto">
              <img src="/images/profile.jpg" class="img-fluid rounded-lg" alt="..."/ id='disp-pic'>
          </div>
          <div class="col-sm-8 col-md-8 my-auto">
            <div class="row">
              <div class="col-md-6 my-auto">
                <p id='name'>Name : </p>
                <p id='email'>Email : </p>
                <p id='age'>Age : </p>
                <p id='level'>Level : </p>
              </div>
              <div class="col-md-6 my-auto">
                <p id="p_id">Patient ID : </p>
                <p id='stroke'>Stroke date : stroke</p>
                <p id='p_stroke'>Post stroke duration : date</p>
                <p id='test'>Number of Test Assigned : xy</p>
              </div>
              <div class="text-center my-2">
                <form action="" method="POST" class="d-inline-block" id='upgrade'>
                  <button class="btn btn-primary rounded-pill btn-lg white m-1" id='upgrade-but' type="submit">
                    Upgrade</button>
                </form>
                <form action="" method="POST" class="d-inline-block" id='downgrade'>
                  <button class="btn btn-primary rounded-pill btn-lg white m-1" id='downgrade-but' type="submit" >
                    Degrade</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2 text-center">

    <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-lg-10 col-xl-5 p-3">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h5 class="pt-2 white"><%=i18n.Patientstestresult%></h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center blue" id='spinner-1' style="height:250px">
             <div class="spinner-border" role="status">
               <span class="visually-hidden"><%=i18n.Loading%>...</span>
             </div>
           </div>
          <canvas id="line-chart" height="127" hidden></canvas>
       </div>
      </div>
    </div>

    <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-lg-5 p-3">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h5 class="pt-2 white"><%=i18n.AnsweredaQuestionvsHintsTaken%></h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center blue" id='spinner-2' style="height:250px">
             <div class="spinner-border" role="status">
               <span class="visually-hidden"><%=i18n.Loading%>...</span>
             </div>
           </div>
          <canvas id="bar-chart-1" height="127" hidden></canvas>
       </div>
      </div>
    </div>

    <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-lg-5 p-3">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h5 class="pt-2 white"><%=i18n.UnansweredaQuestionvsHintsTaken%></h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center blue" id='spinner-3' style="height:250px">
             <div class="spinner-border" role="status">
               <span class="visually-hidden"><%=i18n.Loading%>...</span>
             </div>
           </div>
          <canvas id="bar-chart-2" height="127" hidden></canvas>
       </div>
      </div>
    </div>

    <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-lg-5 p-3">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h5 class="pt-2 white"><%=i18n.Assignedtestdetails%></h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center blue" id='spinner-4' style="height:250px">
             <div class="spinner-border" role="status">
               <span class="visually-hidden"><%=i18n.Loading%>...</span>
             </div>
           </div>
          <canvas id="bar-chart-3" height="127" hidden></canvas>
       </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  let temp=true; // this is used to keep track whether chart is created or not
    
  if('<%=patient%>'.length===0){
    document.getElementById('no-data').classList.remove('d-none');
  }else{
    document.getElementById('home').classList.remove('d-none')
    disp_patient_details('<%=patinetId%>')
  }
  
  let line_chart; // For line chart
  let bar_chart_1; // For bar chart
  let bar_chart_2; // For bar chart
  let bar_chart_3; // For bar chart

  function disp_patient_details(patientid) {    
    document.getElementById('spinner-0').classList.remove('d-none')
    document.getElementById('patient-details').setAttribute('hidden', '')
    document.getElementById('upgrade').action='/inclevel/'+patientid+'?_method=PUT';
    document.getElementById('downgrade').action='/drelevel/'+patientid+'?_method=PUT';

    fetch('/data/patientdetails/'+patientid)
    .then(response => response.json())
    .then(patient =>{
      document.getElementById('name').textContent = 'Name : '+patient[0].name;
      document.getElementById('email').textContent = 'Email : '+patient[0].email;
      document.getElementById('age').textContent = 'Age : '+patient[0].age;
      document.getElementById('p_id').textContent = 'Patient ID : '+patient[0]._id;
      document.getElementById('level').textContent = 'Level : '+patient[0].level;
      if(patient[0].level==1){
        document.getElementById('downgrade-but').setAttribute('disabled','')
      }
      if(patient[0].level==3){
        document.getElementById('upgrade-but').setAttribute('disabled','')
      }
      // document.getElementById('disp-pic').src='';
      // document.getElementById('stroke').textContent = '';
      // document.getElementById('p_storke').textContent = '';
      document.getElementById('spinner-0').classList.add('d-none')
      document.getElementById('patient-details').removeAttribute('hidden')
      if(temp){
        create_line_chart();
        create_bar_charts('bar-chart-1');
        create_bar_charts('bar-chart-2');
        create_bar_charts('bar-chart-3');
        temp=false;
      }
      disp_performance_charts(patientid);
    });
  }

  function create_line_chart(){
    let data={
      labels: [1,2],
      datasets: [
        {
            label: 'Percentage',
            data: [10,20],
            borderColor: ['#6C63FF'],
            backgroundColor: ['#4941eb'],
        }
      ]
    }
    var ctx = document.getElementById("line-chart");
    line_chart = new Chart(ctx, {
      type: 'line',
      data : data,
      options: {
        responsive: true,
      }
    });
  }

  function create_bar_charts(b_id) {
    let bar_chart_no=b_id.split('-')[2];
    let data = {
         labels : ['0','1','2','3','4'],
         datasets: [{
            label:'',
            data: [],
            backgroundColor: ['#FF6633','#33FFFC','#9CFF33','#33FF96','#36FF33'],
            borderColor: ['#FF4E33','#FFB433','#33FFB4','#7EFF33','#33FF4E'],
            borderWidth: 1
         }]
      };
      var ctx = document.getElementById(b_id);
    if(bar_chart_no==='1'){
      bar_chart_1 = new Chart(ctx, {
        type: 'bar',
        data : data,
        options: {
          responsive: true,
        //   scales: {
        //     x: {
        //       grid: {
        //         display: false
        //       }
        //     },
        //     y: {
        //       grid: {
        //         display: false
        //       }
        //     }
        // }
      }
      });
    }else if(bar_chart_no==='2'){
      bar_chart_2 = new Chart(ctx, {
        type: 'bar',
        data : data,
        options: {
        responsive: true,
      }
      });
    }else{
      bar_chart_3 = new Chart(ctx, {
        type: 'bar',
        data : data,
        options: {
        responsive: true,
      }
      });
    }
  }

  function disp_performance_charts(patientid){
    document.getElementById('spinner-1').classList.remove('d-none')
    document.getElementById('line-chart').setAttribute('hidden', '')

    document.getElementById('spinner-2').classList.remove('d-none')
    document.getElementById('bar-chart-1').setAttribute('hidden', '')

    document.getElementById('spinner-3').classList.remove('d-none')
    document.getElementById('bar-chart-2').setAttribute('hidden', '')

    document.getElementById('spinner-4').classList.remove('d-none')
    document.getElementById('bar-chart-3').setAttribute('hidden', '')

    fetch('/data/testdetails/'+patientid)
    .then(response => response.json())
    .then(test => {
      create_data_for_charts(test.patient_tests,test.noofquestion);
    });
  }

  function create_data_for_charts(test,noofquestion){
    let score=[];   //this store the details of 'completed' test score 
    let percent=[];
    let status={'pending':0,'paused':0,'completed':0}  //to count test statuses
    let answered={'0':0,'1':0,'2':0,'3':0,'4':0};
    let unanswered={'0':0,'1':0,'2':0,'3':0,'4':0};
    for(let i=0;i< test.length;i++){
      if(test[i].status==='completed'){
        score.push(test[i].score);
        percent.push(test[i].score/noofquestion[i])
        status['completed']++;
        let t1=test[i].answered;
        let t2=test[i].unanswered;
        for(let j=0;j< 5;j++){
          answered[j+'']=answered[j+'']+t1[j+''];
          unanswered[j+'']=unanswered[j+'']+t2[j+''];
        }
      }else if(test[i].status==='paused'){
        status['paused']++;
      }else{
        status['pending']++;
      }
    }
    update_line_chart(percent);
    update_bar_chart(answered,'bar-chart-1');
    update_bar_chart(unanswered,'bar-chart-2');
    update_bar_chart(status,'bar-chart-3');
  }

  function update_line_chart(percent) {
    line_chart.data.datasets[0].data = percent;
    //line_chart.data..labels = [];  labels are yet to decided it will date of test completion.
    line_chart.update();
    document.getElementById('spinner-1').classList.add('d-none')
    document.getElementById('line-chart').removeAttribute('hidden')
  }

  function update_bar_chart(dict,b_id) {
    let bar_chart_no=b_id.split('-')[2];
    if(bar_chart_no==='1'){
      bar_chart_1.data.labels=Object.keys(dict);
      bar_chart_1.data.datasets[0].data=Object.values(dict);
      bar_chart_1.data.datasets[0].label='Number of Questions Answered';
      bar_chart_1.update();
    }else if(bar_chart_no==='2'){
      bar_chart_2.data.labels=Object.keys(dict);
      bar_chart_2.data.datasets[0].data=Object.values(dict);
      bar_chart_2.data.datasets[0].label='Number of Questions Unanswered';
      bar_chart_2.update();
    }else{
      bar_chart_3.data.labels=Object.keys(dict);
      bar_chart_3.data.datasets[0].data=Object.values(dict);
      bar_chart_3.data.datasets[0].label='Status';
      bar_chart_3.data.datasets[0].backgroundColor=['#534bf7','#8c92ac','#39ff14'];
      bar_chart_3.data.datasets[0].borderColor=['#6C63FF','#8c92ac','#32cd32'];
      bar_chart_3.update();
    }
    document.getElementById('spinner-'+(parseInt(bar_chart_no)+1)).classList.add('d-none')
    document.getElementById(b_id).removeAttribute('hidden')
  }
</script>
<%- include("partials/footer") %>