<%- include("partials/header") %>
<%- include("partials/doctorSideBar") %>
<div class="container-fluid">
    <%- include("partials/edit_Create_Test_Tab") %>
    <%- include("partials/no_Question",{msg:[i18n.NoQuestions,i18n.Selectedyet]})%>
    <form action="/edit/test/<%= test.id %>?_method=PATCH" method="POST" id="testForm" onsubmit="return noofqval();">
        <div class="row justify-content-center" id='question-row'>
            <div class="offset-1 col-11 offset-sm-1 col-sm-9 offset-lg-0 col-lg-8 col-xl-6">
                <div class="row justify-content-center gradient-list mb-2 p-1" id='div_list'>
                
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center d-none blue my-4" id="loader">
            <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"><%=i18n.Loading%>...</span>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-4 d-none" id="sel-pat">
            <div class="offset-2 col-9 offset-sm-1 offset-md-1 col-md-4 offset-lg-0">
                <label for="patient" class="mb-2"><%=i18n.ChoosePatient%></label>
                <select name="patientid"  id="patient-list" class="form-select form-select-lg p-2" aria-label=".form-select-lg" onchange="chnage_patinet_list()" multiple>
                    <% patient.forEach((patient)=> { %>
                        <option value="<%=patient._id%>"
                            <% test.patients.forEach((pat)=> { %>
                                <% if (pat.patientid.toString() == patient._id.toString()) {%>
                                    selected
                                <% } %>
                            <% }) %>
                        ><%=patient.name%></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center d-none mt-1" id="sel-lev">
            <div class="offset-2 col-9 offset-sm-1 offset-md-0 col-md-4 text-center mt-2">
                <%- include("partials/starLevel") %>
            </div>
            <input type="text" name="patientIDs" class="d-none" value="[]" id='patientIDs'/>
        </div>
        <div class="text-end text-sm-center p-2 d-none" id="res_but">
            <button type="button" class="btn btn-primary rounded-pill btn-lg" onclick="reSet();"><%=i18n.Reset%> <i class="fa fa-refresh" aria-hidden="true"></i></button>
            <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="Update Test" id="formsubmit"/>
        </div>
    </form>
</div>

<script>
    let k=0;   //multiplier used to skip questions 5,10,15 so on...
    let li_id=1; //used in input and labels
    let isCompleted=false; //true is no more questions
    let temp=isCompleted;
    let selected_q='<%=test.questions%>'.split(',');
    document.getElementById('<%=test.level%>-star-rating').checked=true;

    for(let j=0;j<selected_q.length;j++){
        fetch('/question/'+selected_q[j])
        .then(response => response.json())
        .then(question => {
            append_div(question,'checked')
            countQuestion();
        })
    }

    function noofqval() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        if(document.getElementById("patientIDs").value ==="[]"){
            alert("Please select at least 1 patinet");
            return false;
        }
        if(checkboxes.length<5){
            swal("<%=i18n.Note%>","<%=i18n.selectatleast5que%>", "warning");
            document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
            document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');            
            return false;
        }
        else{
            var ele=document.getElementById("formsubmit");
            ele.disabled=true;
            ele.value="Updating..."
            return true;
        }
    }
    
    window.onscroll = function(ev) {
        console.log(k)
        if (!isCompleted && ((window.innerHeight + window.scrollY+1) >= document.body.offsetHeight)) {
            document.getElementById('loader').classList.remove('d-none')
            fetch('/create/test/'+(k*10))
            .then(response => response.json())
            .then(question=>{
                if(question.message==="No more questions")
                {
                    document.getElementById('loader').classList.add('d-none');
                    isCompleted=true;
                    swal("<%=i18n.Completed%>", "<%=i18n.SorryNomorequestions%>", "info");
                    document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
                    document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
                    return
                }
                for(let q=0;q<question.question.length;q++) {
                    let s;
                    for(s=0;s<selected_q.length;s++){
                        if(question.question[q]._id===selected_q[s]){
                            break;
                        }
                    }if(s==selected_q.length){
                        selected_q.push(question.question[q]._id);
                        append_div(question.question[q],'');
                    }
                }
                document.getElementById('loader').setAttribute('hidden','');
            });
            k=k+1;
        }
    };
</script>
<script src='/create_edit_test.js'></script>
<%- include("partials/footer") %>
