<%- include("partials/header") %>
<% if(user.role==="admin"){ %>
   <%- include("partials/adminSideBar") %>
<%}else{%>
   <%- include("partials/doctorSideBar") %>
<%}%>
<div class="container-fluid my-3">
   <%- include("partials/flashMsg",{msg:'edit-q'}) %>
   <div class="row justify-content-center ms-5">
      <div class="ms-3 col-11">
         <div class="text-center p-3 font-monospace">
            <h1 class="display-4"><%=i18n.Updatethe%> <span class="blue"><%=i18n.Objct%></span><%=i18n.toidentify3%></h1>
         </div>
            <div class="row justify-content-center">
               <div class="col-12 col-md-10 col-lg-8 col-xl-6 p-4 card border-2 rounded-3 shadow-sm">
                  <!-- <h2 class="card-title text-center">Choose the <span class="blue">Image</span> of Object</h2> -->
                  <div class="row justify-content-center my-2 text-center">
                     <div class="col-12 col-sm-7 col-md-6" id="preview">
                        <img src="data:image/<%=question.question.contentType%>;base64,<%=question.question.data.toString('base64')%>" class="img-fluid" width="300" style="max-height:300px;border:2px solid #6C63FF;padding:2px">
                     </div>
                  </div>
                  <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-sm-10 col-md-8 mt-2" >
                           <p class="h6 text-center">
                              <%for(let i=1;i<=5;i++){%>
                              <%if(i<=question.level){%>
                                 <span class = "fa fa-star fa-2x checked h5"></span>
                              <%} else{%>
                                 <span class = "fa fa-star fa-2x unchecked h5"></span>
                              <%}%>
                              <%}%>
                           </p>
                        </div>
                        <div class="col-12 col-sm-10 col-md-8" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="<%=i18n.Nameofthequestion%>">
                           <input type="text" name="" class="login-input" value="<%=question.name%>" disabled>
                        </div>
                        <ul id='ans_list' class="col-12 col-sm-10 col-md-8 text-center m-0" style="overflow: auto;flex-wrap: nowrap;white-space: nowrap;" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="<%=i18n.Acceptibleanswersofthequestion%>">

                        </ul>
                        <div class="col-12 col-sm-10 col-md-8" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="<%=i18n.TextoftheQuestionwhichisbeingplayedwhiletakingtest%>">
                           <input type="text" name="" id="login-input" placeholder="Description..." value="<%=question.score%>" disabled>
                        </div>
                  </div>
                  <div class="text-center">
                     <% let q1=question.question.contentType;
                        let q2=question.question.data.toString('base64')
                     %>
                     <button class="btn btn-lg btn-primary white m-1" data-bs-toggle="modal" data-bs-target="#editQuestionModal" data-bs-whatever="data:image/<%=q1%>;base64,<%=q2%>">
                        <i class="fas fa-edit"></i>
                     </button>
                  </div>
               </div>
            </div>
            <div class="text-center mt-2 pt-3 font-monospace">
               <h1 class="display-5"><%=i18n.Updatethe%> <span class="blue"><%=i18n.hints%></span> <%=i18n.toidentify3%></h1>
            </div>
            <div class="row justify-content-center align-items-center mt-2">
               <% for (var i = 0; i < 4; i++) { %>
               <div class="col-12 col-md-5 card border-2 rounded-3 shadow-sm m-2 m-md-4 p-4">
                  <!-- <h2 class="card-title text-center">Add hint<%= i+1 %></h2> -->
                  <div class="row justify-content-center">
                     <div id="preview-hint<%= i %>" class="my-2 col-11 col-sm-9 col-md-7 text-center">
                        <img src="data:image/<%=question.hints[i].hint.contentType%>;base64,<%=question.hints[i].hint.data.toString('base64')%>" class="img-fluid" width="300" style="height:40vh;border:2px solid #6C63FF;padding:2px">
                     </div>
                     <div class="col-12" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=i18n.TextoftheHint%>-<%= i+1 %>, <%=i18n.whichisbeingplayedwhiletakingtest%>">
                        <input type="text" name="" id="login-input" placeholder="Description..." value="<%=question.hints[i].score%>" disabled>
                     </div>
                  </div>  
                  <div class="text-center">
                     <% let img1=question.hints[i].hint.contentType%>
                     <% let img2=question.hints[i].hint.data.toString('base64')%>
                     <%let arr=[question.hints[i]._id,'data:image/'+img1+';base64,'+img2,question.hints[i].score,question._id];
                        arr=JSON.stringify(arr);
                     %>
                     <button class="btn btn-lg btn-primary white m-1" data-bs-toggle="modal" data-bs-target="#editHintModal" data-bs-whatever="<%=arr%>">
                        <i class="fas fa-edit"></i>
                     </button>
                  </div>  
               </div>
               <% } %>
            </div>
      </div>
   </div>
</div>
<%- include("partials/editQuestionModal") %>
<%- include("partials/editHintModal") %>
<script>
   let entered_ans='<%=question.answer%>'.split(',');
   let ans_list=document.getElementById('ans_list');
   let ans_list_modal=document.getElementById('ans_list_modal');

   disp_init_pills();
   function disp_init_pills(){
      entered_ans.map((item, index) => {
         ans_list.innerHTML += `<li class='rounded-pill m-1 p-2 bg-primary white d-inline-block'><span class='p-2'>${item}</span></li>`;
      });
   }

   function getImagePreview(event,preview_id,upload_id,cloud){
      const fi = document.getElementById(upload_id);
      const fsize = fi.files.item(0).size;
      const file = Math.round((fsize / 1024));
      if (file >= 1024) {
         swal("<%=i18n.Filetoobig%>","","warning");   
         document.getElementById(upload_id).value = '';
         var imagediv= document.getElementById(preview_id);
         var newimg=document.createElement('img');
         imagediv.innerHTML='';
         newimg.src='';
      }
      else{
         document.getElementById(cloud).classList.add('d-none')
         var image=URL.createObjectURL(event.target.files[0]);
         disp_image(upload_id,preview_id,image,cloud);
      }
  }

  var editQuestionModal= document.getElementById('editQuestionModal')
   editQuestionModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var image = button.getAttribute('data-bs-whatever');
      disp_image('upload_q','preview-q',image,'cloud-q');
      disp_pill();
      document.getElementById('<%=question.level%>'+'-star-rating').checked=true;
      document.getElementById('cloud-q').classList.add('d-none');
   });

  var editHintModal = document.getElementById('editHintModal')
  editHintModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var hint_details = JSON.parse(button.getAttribute('data-bs-whatever'));
      document.getElementById('text').value = hint_details[2];
      document.getElementById('edit-form').action='/edit/hint/'+hint_details[3]+'/'+hint_details[0]+'?_method=PUT';
      disp_image('upload_hint','preview-hint',hint_details[1],'cloud-hint')
      document.getElementById('cloud-hint').classList.add('d-none');
   });

function disp_image(upload_id,preview_id,image,cloud){
   var imagediv= document.getElementById(preview_id);
   var newimg=document.createElement('img');
   imagediv.innerHTML='';
   newimg.src=image;
   newimg.className="img-fluid";
   newimg.width="300";
   newimg.style="max-height:300px;border:2px solid #6C63FF;padding:2px";
   imagediv.appendChild(newimg);
   let br=document.createElement('br');
   imagediv.appendChild(br);
   var removebtn=document.createElement('button');
   removebtn.className="btn btn-sm blue text-center";
   removebtn.innerHTML='<i class="fa-solid fa-xmark"></i>'
   removebtn.onclick=function(){
      document.getElementById(upload_id).value = '';
      var imagediv= document.getElementById(preview_id);
      var newimg=document.createElement('img');
      imagediv.innerHTML='';
      newimg.src='';
      document.getElementById(cloud).classList.remove('d-none')
   }
   imagediv.appendChild(removebtn);
} 

   ans.addEventListener('keydown',function(e){
      if(e.key==='Enter'){
         let val=ans.value.charAt(0).toUpperCase() + ans.value.toLowerCase().slice(1);
         if(val!==''){
            if(entered_ans.indexOf(val)>=0){
               swal('<%=i18n.Duplicate%>','<%=i18n.Enteredanswerduplicate%>','error');           
            }else{
               entered_ans.push(val);
               disp_pill();
               ans.value='';
               ans.focus();
            }
         }else{
            swal("<%=i18n.typetheanswer%>","", "info");  
            ans.value='';
            ans.focus();
         }
      }
   });

   function disp_pill(){
      ans_list_modal.innerHTML='';
      entered_ans.map((item, index) => {
         ans_list_modal.innerHTML += `<li class='rounded-pill m-1 p-2 bg-primary white d-inline-block'><span class='ms-2'>${item}</span><a class='mx-2 h6' href="javascript: remove(${index})"><i class="fa-solid fa-xmark"></i></a></li>`;
      });
      if(entered_ans.length==0){
         document.getElementById('form_ans').value='';
      }else{
         document.getElementById('form_ans').value=JSON.stringify(entered_ans);
      }
   }

   function remove(i){
      entered_ans=entered_ans.filter(item => entered_ans.indexOf(item) != i);
      disp_pill();
   }

   function validate(){
      if(document.getElementById('form_ans').value===''){
         swal("<%=i18n.enternamesoobject%>","", "info");   
         return false;
      }
      return true;
   }
 </script>
<%- include("partials/footer") %>



