<%- include("partials/header") %>
    <% if(user.role==="admin" ) {%>
        <%- include("partials/adminSideBar") %>
    <% } else if(user.role==="patient" ) { %>
        <%- include("partials/patientSideBar") %>
    <% } else { %>
        <%- include("partials/doctorSideBar") %>
    <% } %>
        <div class="container-fluid">
            <div class="offset-2 offset-sm-1 text-center py-3 px-5">
                <p class="display-4 fw-bold font-monospace"><%=i18n.Edit%> <span class="blue"><%=i18n.Profile%></span></p>
            </div>
            <div class="row justify-content-center align-items-center ms-5">
                <div class="ms-3 col-11 col-xl-10">
                    <div class="card border border-3 rounded-3 shadow-sm animate__animated animate__bounceInUp">
                        <div class="row justify-content-center align-items-center text-center p-3">
                            <div class="col-md-6 p-2">
                              <img src="data:image/<%=user.displaypic.contentType%>;base64,<%=user.displaypic.data.toString('base64')%>" alt="" class="img-fluid rounded-circle" style="height:65vh">
                            </div>
                            <div class="col-md-6 p-2 text-center text-md-start">
                                <form action="/edit/<%=user._id%>?_method=PUT" method="post">
                                    <p class="h3">
                                        <span class="blue">
                                            <input type="text" value="<%=user.name%>" class="login-input" id="name" name="name">
                                        </span>
                                    </p>
                                    <p class="h3">
                                        <span class="blue">
                                            <input type="text" name="age" value="<%=user.age%>"
                                                class="login-input" id="age">
                                        </span>
                                    </p>
                                    <p class="h3 fw-bold text-truncate text-center">
                                        <span>
                                          <%=user.email%>
                                        </span>
                                    </p>
                                    <div class="text-md-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                            Update Profile <i class="fas fa-edit"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementsByClassName('card')[0].addEventListener("mouseenter", function(){
              this.classList.add('animate__pulse')
            });
            document.getElementsByClassName('card')[0].addEventListener("mouseleave", function(){
              this.classList.remove('animate__pulse')
            });
            setTimeout(function(){
              document.getElementsByClassName('card')[0].classList.remove('animate__bounceInUp')
            },1000);
        </script>
<%- include("partials/footer") %>