<%- include("partials/header") %>
<%- include("partials/doctorSideBar") %>
<div class="container">
    <div class="row justify-content-center">
        <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-xl-0 col-xl-10">
            <ul class="nav nav-pills mb-3 nav-justified flex-column flex-sm-row" role="tablist">
                <li class="nav-item p-2" role="presentation">
                  <button class="nav-link  border py-2 active" id="sel-q-tab" data-bs-toggle="pill" data-bs-target="#div_list" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><%=i18n.SelectQuestions%></button>
                </li>
                <li class="nav-item p-2" role="presentation">
                  <button class="nav-link border py-2" id="selected-q-tab" data-bs-toggle="pill" data-bs-target="#div_list" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><%=i18n.SelectedQuestions%></button>
                </li>
            </ul>
        </div>
        <div class="offset-2 col-9 offset-sm-1 col-sm-8 offset-md-1 col-md-4 mt-sm-2" id='ch_level'>
            <label for="level"><%=i18n.ChooseLevel%> <i class="fa fa-filter" aria-hidden="true"></i></label>
            <select  class="form-select form-select-lg my-2 p-2" id="level" aria-label=".form-select-lg" onclick="levelfilter()">
                <option value="all">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="offset-1 offset-sm-0 col-6 col-sm-7 col-md-4 text-center" style="margin-top:30px" id='sel_ran'>
            <button class="btn btn-primary rounded-pill btn-lg" onclick="selRandom();"><%=i18n.Selectrandomly%> <i class="fa fa-random" aria-hidden="true"></i></button>
        </div>
        <div class="col-2 col-sm-2" id="cart-but">
            <button type="button" class="btn btn-primary position-relative rounded-pill" onclick="cart()" style="margin-top:35px">
                <i class="fas fa-shopping-cart"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="count">0</span>
            </button>
        </div>
    </div>
    <form action="/edit/test/<%= test.id %>?_method=PUT" method="POST" id="testForm" onsubmit="return noofqval();"></form>
        <div class="row justify-content-center">
            <div class="offset-1 col-11 offset-sm-1 col-sm-9 offset-lg-0 col-lg-8 col-xl-6">
                <div class="row justify-content-center gradient-list mb-2 p-1" id='div_list'>
                
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center d-none blue my-4" id="loader">
            <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"><%=i18n.Loading%>...</span>
            </div>
        </div>
        <div class="row justify-content-center mt-4 d-none" id="pat_lev">
            <div class="offset-2 col-9 offset-sm-1 col-sm-5 offset-md-1 col-md-4 offset-lg-0">
                <label for="patient" class="mb-2"><%=i18n.Patient%></label>
                <select name="patientid"  id="patient-list" placeholder="<%=i18n.Selectpatients%>" class="form-select form-select-lg p-2" aria-label=".form-select-lg">
                        <option value="<%=test.patientid%>" selected readonly id="patient-name">h</option>
                </select>
            </div>
            <div class="offset-2 col-9 offset-sm-0 col-sm-5 offset-md-0 col-md-4">
                <label for="level"><%=i18n.EnterLevel%></label>
                <input type="number" name="level" id="login-input1" placeholder="1-5" onchange="checklevel(this.value)" value="<%=test.level%>" required/>
            </div>
        </div>
        <div class="text-end text-sm-center p-2 d-none" id="res_but">
            <button class="btn btn-primary rounded-pill btn-lg" onclick="reSet();"><%=i18n.Reset%> <i class="fa fa-refresh" aria-hidden="true"></i></button>
            <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="Update Test" id="formsubmit"/>
        </div>
    </form>
</div>

<script>
    let selected_q='<%=test.questions%>'.split(',');

    for(let j=0;j<selected_q.length;j++){
        fetch('/question/'+selected_q[j])
        .then(response => response.json())
        .then(question => {
            append_div(question,'checked')
            countQuestion();
        })
    }

    fetch('/data/patientdetails/<%=test.patientid%>')    // to get the name of the patient
    .then(response => response.json())
    .then(patient=>{
        document.getElementById('patient-name').textContent =patient[0].name;
    })
    
    let k=0;   //multiplier used to skip questions 5,10,15 so on...
    let li_id=1; //used in input and labels
    let isCompleted=false; //true is no more questions
    let temp=isCompleted;

    function countQuestion(){
        document.getElementById('count').textContent = document.querySelectorAll('input[type="checkbox"]:checked').length;
    }
    
    function cart(){
        document.getElementById("selected-q-tab").classList.add("active");
        document.getElementById("sel-q-tab").classList.remove("active");
        document.getElementById("selected-q-tab").click();
    }

    document.getElementById('sel-q-tab').addEventListener('click', function(){
        for(var i=1;i<li_id;i++){
            document.getElementById('question'+i).style.display="block";
        }
        isCompleted=temp;
        document.getElementById('sel_ran').classList.remove('d-none');
        document.getElementById('ch_level').classList.remove('d-none');
        document.getElementById('cart-but').classList.remove('d-none');
        document.getElementById('pat_lev').classList.add('d-none');
        document.getElementById('res_but').classList.add('d-none');
    });

    document.getElementById('selected-q-tab').addEventListener('click', function(){
        showSelectedQuestion();
        temp=isCompleted;
        isCompleted=true;
        document.getElementById('sel_ran').classList.add('d-none');
        document.getElementById('ch_level').classList.add('d-none');
        document.getElementById('cart-but').classList.add('d-none');
        document.getElementById('pat_lev').classList.remove('d-none');
        document.getElementById('res_but').classList.remove('d-none');
    });

    function reSet(){
        for(var i=1;i<=li_id-1;i++){
            document.getElementById("option"+i).checked = false;
        }
        showSelectedQuestion();
        countQuestion();
    }

    function noofqval() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        console.log(checkboxes.length)
        if(checkboxes.length<5){
            alert("Please select atleast 5 questions..");
            return false;
        }
        else{
            var ele=document.getElementById("formsubmit");
            ele.disabled=true;
            ele.value="Creating..."
            return true;
        }
    }

    function selRandom(){
        var num=li_id-1;
        var ran;
        var cur_level=document.getElementById("level").value;
        for(var i=1;i<=num;i++){
            document.getElementById("option"+i).checked = false;
        }
        if(cur_level=="all"){
            for(var i=0;i<Math.min(num,5);){
                ran=Math.floor(Math.random() * num) + 1;
                if(!(document.getElementById("option"+ran).checked)){
                    document.getElementById("option"+ran).checked = true;
                    i++;
                }
            }
        }
        else{
            var m=Math.min(num,Math.min(document.getElementsByClassName(cur_level).length,10))
            for(var i=0;i<m;){
                ran=Math.floor(Math.random() * m);
                if(!(document.getElementsByClassName("op"+cur_level)[ran].checked)){
                    document.getElementsByClassName("op"+cur_level)[ran].checked=true;
                    i++;
                }
            }
        }
        document.getElementById("level").value='all';
        countQuestion();
    }
    function showhidelevel(levclass,disp){
        for(var i=0;i<levclass.length;i++){
            levclass[i].style.display=disp;
        }
    }
    function levelfilter(){
        var level=document.getElementById("level").value;
        var levclass;
        if(level!="all"){
            for(var i=1;i<=5;i++){
                if(level==i){
                    levclass=document.getElementsByClassName(level)
                    showhidelevel(levclass,"block")
                }
                else{
                    levclass=document.getElementsByClassName(i)
                    showhidelevel(levclass,"none")
                }
            }
        }
        else{
            for(var i=1;i<=5;i++){
                var levclass=document.getElementsByClassName(i)
                showhidelevel(levclass,"block")
            }
        }
    }
    function showSelectedQuestion(){
        var num=li_id-1;
        for(var i=1;i<=num;i++){
            if(document.getElementsByClassName('question'+i)[0].checked){
                document.getElementById('question'+i).style.display="block";
            }
            else{
                document.getElementById('question'+i).style.display="none";
            }
        }
        document.getElementById("level").value='all';
    }

    window.onscroll = function(ev) {
        console.log(k)
        if (!isCompleted && ((window.innerHeight + window.scrollY+1) >= document.body.offsetHeight)) {
            document.getElementById('loader').classList.remove('d-none')
            fetch('/create/test/'+(k*10))
            .then(response => response.json())
            .then(question=>{
                if(question.message==="No more questions")
                {
                    document.getElementById('loader').classList.add('d-none');
                    isCompleted=true;
                    swal("Completed!", "Sorry..,No more questions...!", "info");
                    document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
                    document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
                    return
                }
                for(let q=0;q<question.question.length;q++) {
                    let s;
                    for(s=0;s<selected_q.length;s++){
                        if(question.question[q]._id===selected_q[s]){
                            break;
                        }
                    }if(s==selected_q.length){
                        selected_q.push(question.question[q]._id);
                        append_div(question.question[q],'');
                    }
                }
                document.getElementById('loader').setAttribute('hidden','');
            });
            k=k+1;
        }
    };

    function append_div(q,ischecked){
        let div=document.createElement("div");
        
        div.className='offset-1 offset-sm-0 col-9 col-sm-10 col-lg-11 shadow-lg bg-body rounded-lg '+q.level;
        div.id='question'+li_id;

        let card_img=document.createElement('div');
        card_img.className='card-image mx-0 p-2';

        let inputGroup=document.createElement('div');
        inputGroup.className='inputGroup';

        let input=document.createElement('input');
        input.id="option"+li_id;
        input.className='form-check-input question'+li_id+' op'+q.level;
        input.type="checkbox";
        input.value=q._id;
        input.name='questions';
        if(ischecked!=''){
            input.setAttribute('checked','')
        }
        input.setAttribute('onclick','countQuestion()');

        let label=document.createElement('label');
        label.setAttribute('for','option'+li_id);

        let strong=document.createElement('strong');
        strong.textContent=q.answer;

        label.textContent='Question : ';
        label.appendChild(strong);
        let hover_img=document.createElement('div');
        hover_img.className='hover-img';

        let span=document.createElement('span');
        span.className='p-1 rounded-lg my-3';
        span.id='qimg';

        let img=document.createElement('img');
        img.className='img-fluid';
        img.alt='image';
        img.style.cssText='max-height: 18rem;'
        img.src='data:image/'+q.question.contentType+';base64,'+arrayBufferToBase64(q.question.data.data);
        
        span.appendChild(img);
        hover_img.appendChild(span);
        inputGroup.appendChild(input);
        inputGroup.appendChild(label);

        card_img.appendChild(inputGroup);
        card_img.appendChild(hover_img);

        div.appendChild(card_img);

        document.getElementById('div_list').append(div);
        li_id++;
    }

    function arrayBufferToBase64(buffer) {
      var binary = '';
      var bytes = [].slice.call(new Uint8Array(buffer));
      bytes.forEach((b) => binary += String.fromCharCode(b));
      return window.btoa(binary);
    };
</script>
<%- include("partials/footer") %>
