<%- include("partials/header") %>
<!-- Forgot password page -->
<!-- Make a form with email field and button -->
<div class="container">
  <div class="d-flex justify-content-center row vh-100 align-items-center">
    <div class="col-12 col-md-12 col-lg-10 col-xl-8  rounded p-5">
      <div class="py-3 text-center">
        <h1 class="display-4 fw-bold font-monospace"><%=i18n.Forgot%> <span class="blue"><%=i18n.Password1%></span> <i class="fas fa-lock"></i></h1>
      </div>
      <div id="email-sec ">
        <div class="p-3">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="<%=i18n.Enteryouremailaddress%>"
            class="form-control text-center me-0"
          />
        </div>
        <div class="p-3 text-center" id="sendOTP">
          <button type="" class="btn btn-primary form-control" style="width:50%" onclick="sendOTP()"><%=i18n.SendOTP%></button>
        </div>
      </div>
      <div id="otp-sec" class="d-none">
        <div class="p-3">
          <input
            type="text"
            name="otp"
            id="otp"
            placeholder="<%=i18n.EntertheOTP%>"
            class="form-control"
          />
        </div>
        <div class="p-3 text-center">
          <button type="" class="btn btn-primary form-control" style="width:50%" onclick="verifyOTP()"><%=i18n.VerifyOTP%></button>
        </div>
      </div>
      <div id="set-sec" class="d-none">
        <div class="p-3">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="<%=i18n.Enteryournewpassword%>"
            class="form-control"
          />
        </div>
        <div class="p-3 text-center">
          <button type="" class="btn btn-primary form-control" style="width:50%" onclick="setPassword()"><%=i18n.SetPassword%></button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  let verificationKey;
  function sendOTP() {
    var email= document.getElementById("email").value;
    if(email==="") {
      swal("<%=i18n.Note%>","<%=i18n.enteremailaddress%>", "info");
      document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
      document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
      return;
    }else{
      //generate alphanumeric verification key of lenght 32
      verificationKey = generateRandomString(32);
      fetch("/send/email/v1", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          email: email,
          verificationKey: verificationKey
        })
      })
      .then(res => res.json())
      .then(data => {
        if(data.message==="Sucesss") {
          swal("<%=i18n.Success%>","<%=i18n.OTPsenttoemail%>","success");
          document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
          document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
          document.getElementById("otp-sec").classList.remove("d-none");
          //disable send OTP button
          document.getElementById("sendOTP").classList.add("d-none");
        }else{
          swal("<%=i18n.Errors%>","<%=i18n.Emailnotfound%>", "error");
          document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
          document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
        }
      })
      .catch(err => {
        console.log(err);
      });
    }
  }
  function verifyOTP(){
    var otp= document.getElementById("otp").value;
    if(otp==="") {
      swal("<%=i18n.PleaseenterOTP%>","", "warning");
      document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
      document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
      return;
    }else{
      fetch("/verify", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          otp: otp,
          verificationKey: verificationKey
        })
      })
      .then(res => res.json())
      .then(data => {
        if(data.message==="Sucesss") {
          swal("<%=i18n.Success%>","<%=i18n.OTPverified%>", "success");
          document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
          document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
          //d-none otp-sec and email-sec
          document.getElementById("set-sec").classList.remove("d-none");
          document.getElementById("otp-sec").classList.add("d-none");
          document.getElementById("email-sec").classList.add("d-none");
          
        }else{
          swal("<%=i18n.Failed%>","<%=i18n.OTPnotverified%>", "error");
          document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
          document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
        }
      })
      .catch(err => {
        console.log(err);
      });
    }
  }
  function setPassword(){
    var email= document.getElementById("email").value;
    var password= document.getElementById("password").value;
    if(password==="") {
      swal("<%=i18n.Note%>","<%=i18n.enteryournewpassword%>", "info");
      document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
      document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
      return;
    }else{
      fetch("/set", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          password: password,
          email: email
        })
      })
      .then(res => res.json())
      .then(data => {
        if(data.message==="Password changed!") {
          swal("<%=i18n.Congratulations%>","<%=i18n.passwordchangedsuccessfully%>", "success");
          document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
          document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
          //redirect to /login
          window.location.href = "/login";
        }else{
          swal("<%=i18n.Alert%>","<%=i18n.Passwordnotset%>", "error");
          document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
          document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
        }
      })
      .catch(err => {
        console.log(err);
      });
    }
  }
  function generateRandomString(){
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    for (var i = 0; i < 32; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    return text;
  }
</script>
<%- include("partials/footer") %>
