<%- include("partials/header") %>
<div class="container my-5 p-md-1">
    <div class="row justify-content-center vertical-center shadow-lg rounded p-2 p-md-0">
        <div class="col-11 col-md-5 col-lg-4" style="background-color: #6c63ff">
            <div class="my-5 py-3 px-1">
                <div class="row my-3 align-items-center">
                    <div class="col-1"></div>
                    <div class="col-10 p-2 justify-content-center" >
                        <form
                            onsubmit="return validateForm()"
                            action="/login"
                            method="post"
                            class="p-3"
                            id="login-form"
                        >
                            <h1 class="p-3 white"><b><%=i18n.Login%></b></h1>
                            <% if(message.error){ %>
                            <div
                                class="
                                    alert alert-warning alert-dismissible
                                    fade
                                    show
                                "
                                role="alert"
                            >
                                <strong> <%= message.error%> </strong>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <% } %>
                            <input
                                type="text"
                                name="username"
                                placeholder="<%=i18n.Username%>"
                                class="outline-color login-input"
                                required
                            />
                            <input
                                type="password"
                                name="password"
                                placeholder="<%=i18n.Password%>"
                                class="outline-color login-input"
                                required
                            />
                            <span class="d-flex">
                                <a href="/forgotpassword" id="login-a" class="p-2"
                                ><%=i18n.ForgotYourPassword%> </a>
                            </span>
                            <div class='text-center d-flex'>
                                <button
                                type="submit"
                                class="
                                    btn btn-lg
                                    rounded-pill
                                    p-2
                                    mt-1
                                    shadow
                                    blue
                                    bg-white
                                "
                                id="login-btn"
                                style="width:90px;"
                                ><%=i18n.Login%></button>
                                <button type="button" class="btn btn-lg btn-light rounded-pill shadow-lg blue ms-2 p-2 mt-1" data-bs-toggle="modal" data-bs-target="#langModal" style="width:60px;"> <i class="fa fa-language" aria-hidden="true"></i> </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-7 col-lg-8 d-none d-md-block my-auto">
            <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
            >
                <div class="carousel-indicators blue">
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="3"
                        aria-label="Slide 4"
                    ></button>
                </div>
                <div class="carousel-inner my-auto">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 text-center my-auto d-md-none d-lg-block">
                                <img
                                    src="http://img.timeinc.net/time/daily/2010/1007/edison_electric_0705.jpg"
                                    alt=""
                                    width="80%"
                                    class="rounded-circle d-inline-block"
                                    height="325px"
                                />
                            </div>
                            <div class="col-md-10 col-lg-6 text-center my-auto">
                                <div class="shadow rounded p-2 text-center" style="background-color: rgb(241, 241, 241)">
                                    <blockquote>  
                                        <p><strong><%=i18n.EdisonQuote%></strong></p>
                                        <br>
                                        <cite><%=i18n.EdisonName%></cite>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 text-center my-auto d-md-none d-lg-block">
                                <img
                                    src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/a-a-milne-literary-legend-john-springfield.jpg"
                                    alt=""
                                    width="80%"
                                    class="rounded-circle d-inline-block"
                                    height="325px"
                                />
                            </div>
                            <div class="col-md-10 col-lg-6 text-center my-auto">
                                <div class="shadow rounded p-2 text-center" style="background-color: rgb(241, 241, 241)">
                                    <blockquote>  
                                        <p><strong><%=i18n.MilneQuote%></strong></p>
                                        <cite><%=i18n.MilneName%></cite>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 text-center my-auto d-md-none d-lg-block">
                                <img
                                    src="https://img1.wsimg.com/isteam/ip/3dc8fe23-d247-4bed-82ec-106e5f9d9831/5a4726bd-f1bf-4b78-9448-a8a55ec1ef00.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:400,cg:true"
                                    alt=""
                                    width="80%"
                                    class="rounded-circle d-inline-block"
                                    height="325px"
                                />
                            </div>
                            <div class="col-md-10 col-lg-6 text-center my-auto">
                                <div class="shadow p-2 text-center rounded" style="background-color:rgb(241, 241, 241);">
                                    <blockquote>  
                                        <p><strong><%=i18n.CarnegieQuote%></strong></p>
                                        <cite><%=i18n.CarnegieName%></cite>
                                     </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 text-center my-auto d-md-none d-lg-block">
                                <img
                                    src="https://moralyluces.files.wordpress.com/2013/04/linda-poindexter-2000.jpg?w=584"
                                    alt=""
                                    width="80%"
                                    class="rounded-circle d-inline-block"
                                    height="325px"
                                />
                            </div>
                            <div class="col-md-10 col-lg-6 text-center my-auto">
                                <div class="shadow p-2 text-center rounded" style="background-color:rgb(241, 241, 241);">
                                    <blockquote>  
                                        <p><strong><%=i18n.PoindexterQuote%></strong></p>
                                        <cite><%=i18n.PoindexterName%></cite>
                                     </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validateForm(){
        let login_btn= document.getElementById("login-btn");
        login_btn.style.width="150px";
        login_btn.disabled=true;
        login_btn.textContent="<%=i18n.Loggingin%>...";
        return true;
    }
</script>
<%- include("partials/langModal") %>
<%- include("partials/footer") %>
