<%- include("partials/header") %>
<style>
  .main {
    /* Make conatiner*/
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Give padding all sides */
    padding: 60px;
    /* Set background color */
    background-color: #6c63ff;
  }
  .s-main {
    padding: 80px;
  }
  .head {
    /* Make font monospace */
    font-family: monospace;
  }
  .otp {
    font-family: monospace;
    /* text center */
    text-align: center;
  }
</style>
<div
  style="
    background-color: #6c63ff;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
  "
>
  <div style="background-color: white;justify-content: center;padding: 60px" class="">
    <div>
      <h2 class="" style="font-family: monospace;"><%=i18n.SemanticCueing%></h2>
      <hr />
    </div>
    <div>
      <% if(version == 'v1'){%>
        <h1 class=" "><%=i18n.Changeyourpassword%></h1>
      <%}else{%>
        <h1 class=" "><%=i18n.YourVerificationCode%></h1>
      <%}%>
    </div>
    <div class="" style="padding-top: 20px">
      <p><%=i18n.Belowisyouronetimepasscode%>:</p>
      <h2 class="otp" style="font-family: monospace;"><%=otp%></h2>
      <p><%=i18n.Pleaseenterthepasscodeintheapptocompletetheprocess%>.</p>
      <br />
      <h3 class=""><%=i18n.Thispasscodeisvalidfor10minutes%>.</h3>
      <br />
    </div>
    <p style="color: blue">
      <%=i18n.Ifyoudidnotrequestapasswordreset,pleasecontactusimmediately%>.
    </p>
    <div class="">
      <br />
      <p><%=i18n.Regards%></p>
      <p><%=i18n.TeamSemanticCueing%></p>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
