<%- include("partials/header") %> <%- include("partials/patientSideBar") %>
<div class="container patientclass">
  <div class="row justify-content-center">
    <div class="offset-2 col-9 offset-sm-2 col-sm-8 offset-lg-0 col-lg-6 p-1">
      <h1 class="text-center p-2">
        Take your <span class="blue">tests</span> now
        <i class="fas fa-calendar-check blue"></i>
      </h1>
    </div>
  </div>
  <div class="row p-1 justify-content-center">
    <% tests.forEach((test) => { %>
    <div class="offset-2 col-9 offset-sm-1 col-sm-10  offset-lg-0 col-lg-6 p-1">
      <div class="card box-shadow p-3">
        <div class="row align-items-center">
          <div class="col-md-6 my-auto">
            <img
              src="/images/exam.svg"
              class="card-img-top rounded-circle p-1 box-shadow"
              alt="..."
              style="border: 3px solid #6c63ff"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title p-1">Test  <i class="fas fa-bell blue"></i></h5>
              <p class="card-text p-1">
                <i class="fas fa-question-circle blue"></i> : <%=test.noofquestion%>
              </p>
              <p class="card-text p-1">Level : <%=test.level%></p>
              <div class="d-flex justify-content-end">
                <a
                  href="/start/test/<%=test._id%>"
                  class="btn white btn-lg"
                  id="review"
                  target="_blank"
                  ><% if(test.status == "pending") {%>
                    Start test <i class="fas fa-play"></i>
                    <%}else if(test.status == "completed"){%> 
                      View Report <i class="fas fa-poll"></i>
                    <%}else{%> 
                      Resume <i class="fab fa-rev"></i>
                    <%}%>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<div class="card login" id="patientprofile" style="width: 50%">
  <img class="card-img-top" src="/images/admin.jpg" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">Patient Details</h5>
    <p class="card-text">Name:<%=user.name%></p>
    <p class="card-text">value2:</p>
    <p class="card-text">value3:</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="patientclass p-2 pt-5"></div>

<%- include("partials/footer") %>
