<%- include("partials/header") %>
<div class="container my-4 p-3">
  <% if(message.error){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%= message.error%></strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %> <% if(message.success){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%= message.success%></strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
  <form action="/register" method="post" class="p-2" enctype="multipart/form-data" onsubmit="return register()">
    <div class="row justify-content-center vertical-center shadow-lg rounded-3">
      <h1 class="text-center p-3 blue order-first">Register: Patient | Doctor</h1>
      <div class="col-12 col-md-6 text-center my-auto order-last">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 ">
              <input
                type="text"
                name="name"
                placeholder="Name"
                class="outline-color login-input"
                required
              />
              <input
                type="number"
                name="age"
                placeholder="Age"
                class="outline-color login-input"
                required
              />
              <div class="input-group">
                <input
                type="email"
                name="email"
                placeholder="Email"
                id='email'
                class="outline-color login-input form-control"
                aria-describedby="verifyEmail"
                required
                />
                <button class="btn btn-primary verify" type="button" id="verifyEmail" onclick="checkEmail()" disabled>Verify</button>
              </div>
              <div class="input-group d-none" id='otp-sec'>
                <input
                type="number"
                name="otp"
                placeholder="Otp"
                id='otp'
                class="outline-color login-input form-control"
                aria-describedby="verifyOtp"
                min='100000'
                max='999999'
                />
                <button class="btn btn-primary verify" type="button" id="verifyOtp" onclick="checkOtp()" disabled>Verify</button>
              </div>
              <!-- <div class='text-end d-none' id='timer-sec'>
                <span id="timer"></span>
              </div> -->
              <input
                type="text"
                name="username"
                placeholder="Username"
                id="username"
                class="outline-color"
                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                pattern="^\S+$"
                required
              />
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Username already exists. Please try another one.
              </div>
              <input
                type="password"
                name="password"
                placeholder="Password"
                id="login-input"
                class="outline-color"
                required
              />
              <div class="row align-items-center">
                <div class="col-4">
                  <label for="role" class="blue h5">Select Role:</label>
                </div>
                <div class="col-8">
                  <select
                    class="form-select form-select-lg mb-3 select-color"
                    aria-label=".form-select-lg"
                    id="role"
                    name="role"
                    required
                  >
                    <option value="doctor">Doctor</option>
                    <option value="patient">Patient</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center d-none" id="select-doctor">
                <div class="col-4">
                  <label for="doctorid" class="blue h5">Choose doctor:</label>
                </div>
                <div class="col-8">
                  <select
                    name="doctorid"
                    id="doctorid"
                    class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg"
                  >
                    <% doctors.forEach((doctor) => { %>
                    <option value="<%=doctor.id%>"><%=doctor.name%></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="row align-items-center d-none" id="stroke-div">
                <div class="col-4 ">
                  <label for="strokedate" class="blue h5">Stroke Date:</label>
                </div>
                <div class="col-8">
                  <input type="date" class='login-input' id='strokedate' placeholder='Stroke date' name="strokeDate">
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 my-auto order-first order-md-last">
        <div class="form-group text-center">
            <label for="upload_file" id='input-cloud' class=''>
              <i class="fa-solid fa-cloud-arrow-up fa-5x blue"></i>
              <p class="blue h5">Choose Profile Picture</p> 
            </label>
            <input type="file" name="displaypic" class="form-control form-control-lg" accept="image/png, image/jpeg" placeholder="Enter Image" id="upload_file" onchange="getImagePreview(event,'preview','upload_file')" style="display:none;">
        </div>
        <div class="row justify-content-center my-2 text-center">
            <div class="col-12 col-sm-7 col-md-9" id="preview"></div>
        </div>
      </div>
      <div class='text-center my-4 order-last col-8 col-md-4'>
            <input
                type="submit"
                class="btn btn-primary btn-lg rounded-pill p-2"
                value="Register"
                style="width: 50%"
                id="review"
              />
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  var role = document.getElementById('role')
  var doctor = document.getElementById('select-doctor')
  var doctorid = document.getElementById('doctorid')
  var stroke_div=document.getElementById('stroke-div')
  var strokedate=document.getElementById('strokedate')
  let container=document.getElementsByClassName('container')[0];
  let verifyemail=document.getElementById('verifyEmail');

  var email = document.getElementById('email')
  var otp_sec = document.getElementById('otp-sec')
  var otp = document.getElementById('otp')
  var isVerified=false;
  let verificationKey;

  role.addEventListener('change', function () {
    if (role.value == 'patient') {
      doctor.classList.remove('d-none');
      stroke_div.classList.remove('d-none');
      doctorid.required = true;
      strokedate.required = true;
      container.classList.remove('my-4', 'p-3');
    } else {
      doctor.classList.add('d-none');
      stroke_div.classList.add('d-none');
      doctorid.required = false;
      strokedate.required = false;
      container.classList.add('my-4', 'p-3');
    }
  })
  let username = document.getElementById('username')
  //setup before functions
  var typingTimer //timer identifier
  var doneTypingInterval = 2000 //time in ms, 5 second for example

  //on keyup, start the countdown
  username.addEventListener('keyup', () => {
    clearTimeout(typingTimer)
    typingTimer = setTimeout(doneTyping, doneTypingInterval)
  })
  username.addEventListener('keydown', () => {
    clearTimeout(typingTimer)
  })
  //user is "finished typing," do something
  function doneTyping() {
    fetch('/check-username', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        username: username.value,
      }),
    })
      .then((url) => {
        return url.json()
      })
      .then((data) => {
        console.log(data)
        if (data === true) {
          username.classList.add('is-invalid')
          //disable submit button
          document.getElementById('review').disabled = true
        } else {
          username.classList.remove('is-invalid')
          //enable submit button
          document.getElementById('review').disabled = false
        }
      })
  }

  email.addEventListener('keyup', function(){
    isVerified=false;
    verifyemail.textContent='verify';
    verifyemail.classList.remove('btn-success')
    verifyemail.classList.add('btn-primary')
    if(email.value=='') {
      verifyemail.setAttribute('disabled','')
    }else{
      verifyemail.removeAttribute('disabled')
    }
  });

  otp.addEventListener('keyup', function(){
    if(otp.value.length>=6) {
      document.getElementById('verifyOtp').removeAttribute('disabled')
    }else{
      document.getElementById('verifyOtp').setAttribute('disabled','')
    }
  })

  function checkEmail(){
    var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    if (email.value.match(validRegex)) {
      verifyemail.setAttribute('disabled','')
      email.setAttribute('disabled','')
      container.classList.remove('my-4');
      container.classList.add('my-3');
      sendOTP();
    } else {
      swal('Invalid!', 'Please enter a valid email address','info');
    }
  }

  function checkOtp(){
    if(otp.value.length==6){
      verifyOTP();
      email.removeAttribute('disabled')
    }else{
      swal('Invalid OTP!', 'Please enter proper OTP','info')
    }
  }

  function activities_post_verifyEmail(){
    swal('OTP Sent','Check your email...!','success')
    otp_sec.classList.remove('d-none')
    otp.value='';
    let span=document.createElement('span');
    span.id='timer';
    verifyemail.textContent='';
    verifyemail.appendChild(span);
    timerOn=true;
    timer(120);
  }

  function sendOTP(){
    verificationKey = generateRandomString(32);
    fetch("/send/email/v2", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
      body: JSON.stringify({
        email: email.value,
        verificationKey: verificationKey
      })
    })
    .then(res => res.json())
    .then(data => {
      if(data.message==="Sucesss") {
        activities_post_verifyEmail();
      }
    })
      .catch(err => {
        console.log(err);
      });
  }

  function activities_post_verifyOTP(msg){
    if(msg==="Sucesss") {
      swal('Email Verified','Your email verified successfully...!','success');
        isVerified=true;
        timerOn=false;
        verifyemail.textContent='verified';
        verifyemail.setAttribute('disabled','')
        verifyemail.classList.remove('btn-primary')
        verifyemail.classList.add('btn-success');
        document.getElementById('otp-sec').classList.add('d-none');
        container.classList.remove('my-3');
        container.classList.add('my-4');
      }else if(msg==="OTP expired"){
        timerOn=false;
        swal('Expired','OTP is expired try again..!','warning');
        verifyemail.textContent = 'Resend';
        verifyemail.removeAttribute('disabled');
        document.getElementById('otp-sec').classList.add('d-none');
      }else{
        swal('Invalid OTP!', 'Please enter proper OTP','info')
      }
  }

  function verifyOTP(){
    fetch("/verify", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
      body: JSON.stringify({
        otp: otp.value,
        verificationKey: verificationKey
      })
    })
    .then(res => res.json())
    .then(data => {
      activities_post_verifyOTP(data.message);
    })
    .catch(err => {
      console.log(err);
    });
  }

  function generateRandomString(){
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    for (var i = 0; i < 32; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    return text;
  }

  function getImagePreview(event,preview_id,upload_id){
      const fi = document.getElementById(upload_id);
      const fsize = fi.files.item(0).size;
      const file = Math.round((fsize / 1024));
      if (file >= 1024) {
         alert("File too Big, please select a file less than 1mb");
         document.getElementById(upload_id).value = '';
         var imagediv= document.getElementById(preview_id);
         var newimg=document.createElement('img');
         imagediv.innerHTML='';
         newimg.src='';
      }
      else{
        document.getElementById('input-cloud').classList.add('d-none')
         var image=URL.createObjectURL(event.target.files[0]);
         var imagediv= document.getElementById(preview_id);
         var newimg=document.createElement('img');
         imagediv.innerHTML='';
         newimg.src=image;
         newimg.className="img-fluid";
         newimg.width="300";
         newimg.style="max-height:300px;border:2px solid #6C63FF;padding:2px";
         imagediv.appendChild(newimg);
         var removebtn=document.createElement('button');
         removebtn.className="btn btn-sm blue text-center";
         removebtn.innerHTML='<i class="fa-solid fa-xmark fa-2x"></i>'
         removebtn.onclick=function(){
            document.getElementById(upload_id).value = '';
            var imagediv= document.getElementById(preview_id);
            var newimg=document.createElement('img');
            imagediv.innerHTML='';
            newimg.src='';
            document.getElementById('input-cloud').classList.remove('d-none')
         }
         let br= document.createElement('br')
         imagediv.appendChild(br)
         imagediv.appendChild(removebtn);
      }
  }

  function register(){
    if(document.getElementById('upload_file').files.length == 0){
      swal('Upload..!','Upload Profile Picture..!','info')
      return false;
    }else if(!isVerified){
      swal('Verify..!','Please verify Email entered...!','info')
      return false;
    }
    return true;
  }

  let timerOn=true;

  function timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;
  
  m = m < 10 ? '0' + m : m;
  s = s < 10 ? '0' + s : s;

  if(!timerOn) {
    return;
  }

  document.getElementById('timer').textContent = m + ':' + s;
  remaining -= 1;
  
  if(remaining >= 0 && timerOn) {
    setTimeout(function() {
        timer(remaining);
    }, 1000);
    return;
  }
  verifyEmail.textContent = 'Resend';
  verifyEmail.removeAttribute('disabled');
}
</script>
<%- include("partials/footer") %>
