<%- include("partials/header") %>
<%- include("partials/instructionModal") %>
<div class="container-fluid d-none" id='test'>
  <div class="row justify-content-center p-3" style="height: 100vh">
    <div class="col-12 col-xl-9 shadow-lg rounded-lg p-md-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 p-1">
          <img src="" id="img" class="img-fluid" style="width:80vw;height: 49vh;">
        </div>
      </div>
      <div class="row pt-4 justify-content-center text-center align-items-center">
        <%for (var i = 0;i< 4;i++){%>
          <div class="col-6 col-sm-2 py-2">
            <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#hintModal" id="hint_<%=i%>" data-bs-whatever="<%=i%>"><i class="fa fa-light fa-lightbulb"></i></button>
          </div>
        <%}%>
      </div>
      <div class="row justify-content-center pt-3 text-center">
        <div class="col-11 col-md-5 py-2">
          <div class="form"> 
            <input type="text" class="form-control form-input" placeholder="Enter your answer here..." id="answer"> 
            <span class="left-pan">
              <i class="fa fa-microphone" onclick="startDictation()"></i>
            </span> 
          </div>
          
          <div class="pids-wrapper d-none">
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>

            
          </div>
        </div>
        <div class="col-4 col-md-2 py-2">
          <button class="btn btn-success btn-lg" onclick="next_q('next')" id='next'><%=i18n.Next%></button>
        </div>
        <div class="col-3 col-md-2 py-2">
          <button class="btn btn-info btn-lg" onclick="next_q('skip')" id='next'><%=i18n.Skip%></button>
        </div>
        <div class="col-5 col-md-3 py-2">
          <button class="btn btn-primary btn-lg" onclick="close_test()"><b><%=i18n.Pause%></b> <i class="fa fa-pause"></i></button>
        </div>
      </div>
    </div>

    <div class="mx-3 col-2 d-none d-xl-block shadow-lg rounded">
      <div class="row text-center align-items-center h-25 my-3">
        <div class="col-12">
          <h6 class="my-2"><%=i18n.TestID%> : <%= testid %></h6>
          <h6 id='level' class="my-2"></h6>
          <h6 id='score' class="my-2"></h6>
        </div>
      </div>
      <div class="row text-center align-items-center my-5">
        <%var i=1%>
        <%questionIds.forEach((questionIds)=>{%>
          <div class="col-3 py-1">
            <button type="button" class="btn btn-primary btn-square-md" id="'<%=i%>'"><%=i%></button>
          </div>
          <%i=i+1;%>
        <%})%>
      </div>
      <div class="row h-25 mt-5">
        <div class="col-12">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div hidden id="spinner"></div>
<%- include("partials/hintModal") %>
<%- include("partials/testSubModal") %>

<script type="text/javascript">
  function startTest() {
    if(document.getElementById("instruRead").checked && document.getElementById("micTested").checked) {
      document.getElementById("instructions").classList.add('d-none');
      swal('Take test now...!','Take your test now. All the best..!','success')
      .then(function(){
        get_initial_test_details()
      })
      document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
      document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
    }else{
      swal("Warning!", "Please read the instructions to proceed...!", "warning");
      document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
      document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
    }
  }

  const spinner = document.getElementById("spinner"); 
  const test = document.getElementById("test");

  //------------ To Keep Track of Test scores -----------------------//
  var q='<%=questionIds%>'.split(',')
  var curq=null;   //Stores curq question details
  var curq_no=0;
  var hints_taken=0;
  var hint_status={'1':0,'2':0,'3':0,'4':0}
  var ans={'0':0,'1':0,'2':0,'3':0,'4':0};
  var unans={'0':0,'1':0,'2':0,'3':0,'4':0};
  var score=0;
  //------------ End -----------------------//

  //------------ Progress Chart -------------//
  var data = {
          labels: [
              "Attemted",
              "To be attemted",
          ],
          datasets: [
              {
                  data: [curq_no, q.length-curq_no],
                  backgroundColor: [
                      "#10ba00",
                      "#9ca3af",
                      
                  ],
                  hoverBackgroundColor: [
                      "#0b8000",
                      "#9ba5b6",
                  ]
              }]
      };
      var myDoughnutChart;
  //------------------ End -----------------------//

  //------------ Text to speech -----------------------//
    var msg = new SpeechSynthesisUtterance();
    var voices = window.speechSynthesis.getVoices();
    msg.voice = voices[10]; 
    msg.volume = 1; // From 0 to 1
    msg.rate = 0.5; // From 0.1 to 10
    msg.pitch = 1; // From 0 to 2
    msg.lang = 'en-IN';
  //------------ End -----------------------//

  function get_initial_test_details(){
    fetch('/test/<%=testid%>')
    .then(response => response.json())
    .then(test=>{
      ans=JSON.parse(test.answered)
      unans=JSON.parse(test.unanswered)
      score=parseInt(test.score);
      curq_no=parseInt(test.pauesdqno);
      document.getElementById('level').textContent='Test Level : '+test.level;
      create_chart();
    });
  }

  function create_chart(){
      var ctx = document.getElementById("myChart");
      myDoughnutChart = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            rotation:  86* Math.PI,
            circumference: 57.25 * Math.PI
          }
      });
      disp_question();
  }

  function check_ans(a){
    var val=document.getElementById('answer').value.toLowerCase().split(' ')
    a=a.map(element => {
      return element.toLowerCase();
    });
    document.getElementById('answer').value='';
    for(var i in val){
      if(a.indexOf(val[i]) >=0){
        score=score+(100-hints_taken*10)
        ans[hints_taken.toString()]++;
        document.getElementById('score').textContent='Score Obtained : '+score;
        return;
      }
    }
    // for(var i=0;i<val.length;i++){
    //   if(a.toLowerCase() === val[i]){
    //     score=score+(100-hints_taken*10)
    //     ans[hints_taken.toString()]++;
    //     document.getElementById('score').textContent='Score Obtained : '+score;
    //     return;
    //   }
    // }
    unans[hints_taken.toString()]++;
  }

  function hint_but_change(){
    for(var i=0;i<4;i++){
      document.getElementById('hint_'+i).classList.remove('btn-secondary');
      document.getElementById('hint_'+i).classList.add('btn-warning');
      if(i!=0){
        document.getElementById('hint_'+i).disabled = true;
      }
    }
  }
  
  function disp_question(){
    document.getElementById('score').textContent='Score Obtained : '+score;
    test.classList.add('d-none')
    spinner.removeAttribute('hidden');
    if(curq_no<q.length && curq!=null){
        check_ans(curq.answer);
        hints_taken=0;
        hint_status={'1':0,'2':0,'3':0,'4':0}
        update_test('paused');
    }else if(curq_no==q.length){
        check_ans(curq.answer);
        update_test('completed');
        spinner.setAttribute('hidden', '');
        $('#testSub').modal('show');
        setTimeout(setTimeout(close_test, 5000))
        return;
    }
    progress_chart();
    fetch('/question/<%=testid%>/'+q[curq_no])
    .then(response => response.json())
    .then(question => {
      spinner.setAttribute('hidden', '');
      test.classList.remove('d-none')
      curq=question
      document.getElementById('img').src = 'data:image/'+question.question.contentType+';base64,'+arrayBufferToBase64(question.question.data.data);
      setTimeout(function() {
        play_audio(curq.score);
      },2000);
      curq_no++;
      if(curq_no==q.length){
        document.getElementById('next').textContent="Submit";
      }
      hint_but_change();
    });
  }

  function hint_but(hint){
    hint=parseInt(hint);
    cur_hint=document.getElementById('hint_'+hint)
    if(hint!=3){
      next_hint=document.getElementById('hint_'+(hint+1))
      cur_hint.classList.remove('btn-warning');
      cur_hint.classList.add('btn-secondary');
      next_hint.disabled=false;
    }else{
      cur_hint.classList.remove('btn-warning');
      cur_hint.classList.add('btn-secondary');
    }
    if(hint_status[''+(hint+1)]!=1){
      hint_status[''+(hint+1)]=1;
      hints_taken++;
    }
  }

  function closeModal(){
    $('#hintModal').modal('hide');
  }

  var hintModal = document.getElementById('hintModal')
  hintModal.addEventListener('show.bs.modal', function (event) {
    var hint = event.relatedTarget
    var hint = hint.getAttribute('data-bs-whatever')
    document.getElementById('hint_img').src = 'data:image/'+curq.hints[hint].hint.contentType+';base64,'+arrayBufferToBase64(curq.hints[hint].hint.data.data);
    hint_but(hint)
    play_audio(curq.hints[hint].score);
    setTimeout(closeModal, 10000);
  })

  function arrayBufferToBase64(buffer) {
      var binary = '';
      var bytes = [].slice.call(new Uint8Array(buffer));
      bytes.forEach((b) => binary += String.fromCharCode(b));
      return window.btoa(binary);
  };

  function play_audio(txt){
    msg.text = txt;
    window.speechSynthesis.speak(msg);
  }

  function update_test(status){
    fetch('/test/<%=testid%>',{
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          status: status,
          score: score,
          ans : JSON.stringify(ans),
          unans : JSON.stringify(unans)
        })
      })
      .then(response => response.json())
      .then(test => {
        console.log(test.message)
      });
  }

  function close_test(){
    window.close();
  }

  function next_q(val){
    if(val==='next' && document.getElementById('answer').value===''){
      alert('Please enter your answer...!');
      return;
    }
    disp_question()
  }

  function startDictation() {
      if (window.hasOwnProperty('webkitSpeechRecognition')) {
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = false;
        recognition.interimResults = false;
        recognition.lang = 'en-US';

        recognition.onstart = function(e){
          startAudioRecording('pid');
          document.getElementsByClassName('pids-wrapper')[0].classList.remove('d-none')
        }
        recognition.start();
        recognition.onresult = function (e) {
          document.getElementById('answer').value = e.results[0][0].transcript;
          recognition.stop();
          StopAudioRecording();
          document.getElementsByClassName('pids-wrapper')[0].classList.add('d-none');
          clearTimeout()
        };

        recognition.onerror = function (e) {
          recognition.stop();
          StopAudioRecording();
          document.getElementsByClassName('pids-wrapper')[0].classList.add('d-none');
          clearTimeout()
        };
      }
    }

    function progress_chart(){
      data.datasets[0].data=[curq_no,q.length-curq_no]
      myDoughnutChart.data.datasets[0].data=[curq_no,q.length-curq_no];
      myDoughnutChart.update();
    }

    var audioRecorder = {
      mediaRecorder: null,
      streamBeingCaptured: null,
    start: function () {
        if (!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia)) {
            return Promise.reject(new Error('mediaDevices API or getUserMedia method is not supported in this browser.'));
        }

        else {
            return navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream=> {
                    audioRecorder.streamBeingCaptured = stream;
                    audioRecorder.mediaRecorder = new MediaRecorder(stream); 
                    audioRecorder.mediaRecorder.start();
                });
        }
    },
    stop: function () {
        return new Promise(resolve => {
            audioRecorder.cancel();
        });
    },
    cancel: function () {
        audioRecorder.mediaRecorder.stop();
        audioRecorder.stopStream();
        audioRecorder.resetRecordingProperties();
    },
    stopStream: function () {
        audioRecorder.streamBeingCaptured.getTracks()
            .forEach(track => track.stop()); 
    },
    resetRecordingProperties: function () {
        audioRecorder.mediaRecorder = null;
        audioRecorder.streamBeingCaptured = null;
    }
}

    function startAudioRecording(pid) {
        audioRecorder.start()
            .then(() => { //on success 
              calculate_volume(pid);
            })    
            .catch(error => { //on error
              switch (error.name) {
                case 'NotAllowedError':
                  swal('Warning',"Please allow to access your microphone..!",'warning')
                break;
                default:
                  console.log("An error occured with the error name " + error.name);
                  swal('Error..!',"Sorry...!, we are unable to aceess your microphone",'error');
                  document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
                  document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
              }
              recError();
        });
    }

    function StopAudioRecording() {
    //stop the recording using the audio recording API
    audioRecorder.stop()
        .then(() => { //stopping makes promise resolves to the blob file of the recorded audio
           
        })
        .catch(error => {
            swal("Error!", "We are unable to aceess your microphone...!", "error");
            document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
            document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
        });
    }

    function calculate_volume(pid) {
      let audioContext = new AudioContext();
      let analyser = audioContext.createAnalyser();
      let microphone = audioContext.createMediaStreamSource(audioRecorder.streamBeingCaptured);
      let scriptProcessor = audioContext.createScriptProcessor(2048, 1, 1);

      analyser.smoothingTimeConstant = 0.8;
      analyser.fftSize = 1024;

      microphone.connect(analyser);
      analyser.connect(scriptProcessor);
      scriptProcessor.connect(audioContext.destination);
      scriptProcessor.onaudioprocess = function() {
        let array = new Uint8Array(analyser.frequencyBinCount);
        analyser.getByteFrequencyData(array);
        let arraySum = array.reduce((a, value) => a + value, 0);
        let average = arraySum / array.length;
        colorPids(average,pid);
      }
    }
  
  function colorPids(vol,pid) {
  const allPids = [...document.querySelectorAll('.'+pid)];
  const numberOfPidsToColor = Math.round(vol / 10);
  const pidsToColor = allPids.slice(0, numberOfPidsToColor);
  for (const pid of allPids) {
    pid.style.backgroundColor = "#e6e7e8";
  }
  for (const pid of pidsToColor) {
    pid.style.backgroundColor = "#69ce2b";
  }
}

  //------------ Instructions Page ------------------------//

  let curTab=0;
  checkBrowser();
  showTab(curTab);
  get_list_of_mic();
  let recMic;

  function showTab(n) {
    var x = document.getElementsByClassName("tab");
    x[n].classList.remove('d-none')
    x[n].classList.add('d-block');
    if (n == 0) {
      document.getElementById("prevBtn").classList.add('d-none');
    } else {
      document.getElementById("prevBtn").classList.remove('d-none');
    }
  }
    
  function nextPrev(n) {
    var x = document.getElementsByClassName("tab");
    x[curTab].classList.add('d-none');
    x[curTab].classList.remove('d-block')
    curTab = curTab + n;
    if(curTab===(x.length-1)){
      document.getElementById("nextBtn").innerHTML=`<i class="fas fa-play"></i>`;
      document.getElementById("nextBtn").onclick=function() {startTest();}
      //document.getElementById("nextBtn").classList.add('d-none');
    } else {
      document.getElementById("nextBtn").innerHTML=`<i class="fa-solid fa-angles-right"></i>`;
      document.getElementById("nextBtn").onclick=function() {nextPrev(1)}
      //document.getElementById("nextBtn").classList.remove('d-none');
    }
    showTab(curTab);
  }

  function start() {
    if (window.stream) {
      stream.getAudioTracks()[0].stop();
    }
  }

  function get_list_of_mic(){
    if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) {
      alert("enumerateDevices() not supported.");
      return;
    }

    navigator.mediaDevices.enumerateDevices()
    .then(function(devices) {
      let list_of_mic=document.getElementById("list_of_mic")
      devices.forEach(function(device) {
        if(device.kind==='audioinput'){
          let option=document.createElement("option");
          option.value=device.deviceId;
          option.text= device.label || `microphone ${list_of_mic.length + 1}`;
          list_of_mic.appendChild(option);
        }
      });
    })
    .then(start)
    .catch(function(err) {
      console.log(err.name + ": " + err.message);
    });
  }

  function micTested(){
    swal('Success..!','Microphone tested successfully...!','success');
    document.getElementsByClassName('swal-footer')[0].classList.add('text-center');
    document.getElementsByClassName('swal-button')[0].classList.add('btn','btn-lg','btn-info');
    StopAudioRecording();
    document.getElementsByClassName('pids-wrapper1')[0].classList.add('d-none')
    document.getElementById('nextBtn').removeAttribute('disabled')
  }

  function startRec(){
    document.getElementsByClassName('pids-wrapper1')[0].classList.remove('d-none')
    document.getElementById('rec').setAttribute('disabled','')
    startAudioRecording('pid1');
    recMic=setTimeout(micTested,5000);
  }

  function recError(){
    clearTimeout(recMic);
    document.getElementById('rec').removeAttribute('disabled')
  }

  function checkBrowser(){
    console.log(/*@cc_on!@*/false || !!document.documentMode)
    if(typeof InstallTrigger !== 'undefined' || 
      (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0 ||
      /*@cc_on!@*/false || !!document.documentMode
    ){
      alert('Please Use Chrome or Edge Browsers to proceed')
      close_test();
    }else{
      document.getElementById('instructions').classList.remove('d-none')
    }
  }

</script>
<%- include("partials/footer") %>