<%- include("partials/header") %>
<div class="container my-5">
    <div class="row justify-content-center vertical-center  rounded">
      <% var a=['hello','hii'] %>
      <% var b=["https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg","https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg","https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg","https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"] %>
      <% for (var i =1;i<= 2;i++) { %>
            <div class="tab">
                <div class="row">
                  <div class="col-12 col-md-10">
                    <h2><%= i%>.Question is about</h2>
                    <hr>
                      <div class="row justify-content-center">
                          <div class="col-12 col-md-6">
                              <img class="img-fluid" src="https://www.pixsy.com/wp-content/uploads/2021/04/ben-sweet-2LowviVHZ-E-unsplash-1.jpeg"/>
                          </div>
                      </div>
                      <div class="row justify-content-end mb-2">
                          <div class="col-12 col-md-1">
                              <button type="button" class="btn btn-primary " onclick="hint('<%=i %>','<%=JSON.stringify(b) %>')" id="hint<%=i %>">Hint</button> 
                          </div>
                      </div>
                  </div>
                <div class="col-12 col-md-2">
                  <div class="row">
                        <div class="col-3 col-md-12 my-2">
                            <button type="button" class="btn btn-primary" id="butt1<%=i %>" style="display: none;" onclick="dispmodal('<%=b[0] %>')">hint1</button> 
                        </div>
                        <div class=" col-3 col-md-12 my-2">
                            <button type="button" class="btn btn-primary" id="butt2<%=i %>" style="display: none;" onclick="dispmodal('<%=b[1] %>')">hint2</button>
                        </div>
                        <div class="col-3 col-md-12 my-2">
                            <button type="button" class="btn btn-primary" id="butt3<%=i %>" style="display: none;" onclick="dispmodal('<%=b[2] %>')">hint3</button> 
                        </div>
                        <div class="col-3 col-md-12 my-2">
                            <button type="button" class="btn btn-primary" id="butt4<%=i %>" style="display: none;" onclick="dispmodal('<%=b[3] %>')">hint4</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
              <div class="col-12 col-md-7">
                <input type="text" name="ans" placeholder="ans" id="login-input" class="outline-color" required />
              </div>
            </div>
            <hr>  
        </div>
        <% } %>
     
        <div class="row justify-content-center">
          <div style="text-align:center;" class="col-8 col-md-10">
          <% for (var i =1;i<= 2;i++) { %>
                  <span class="step"></span>
          <% } %>   
          </div>
        <div class="col-4 col-md-2">
                <button type="button" id="nextBtn" class="btn btn-info btn-lg" onclick="nextPrev(1,'<%=JSON.stringify(a) %>','<%=i %>')">Next</button>
        </div>
    </div>
    </div>  
</div>
<div id="myModal" class="modal">
  <span class="close">×</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<form action="" method="post" id="testForm">

</form>
<script>
  var score=0;
  var arr=[];
    var hint_i=0;
    var currentTab = 0; 
    showTab(currentTab);
    var modal = document.getElementById('myModal');

    function dispmodal(srcc){
      var modal = document.getElementById('myModal');
      var modalImg = document.getElementById("img01");
      modal.style.display = "block";
      modalImg.src = srcc;
    }
    function hint(i,srcc) {
      console.log(i)
      console.log(JSON.parse(srcc)[hint_i]);
      dispmodal(JSON.parse(srcc)[hint_i]);

      
      if(hint_i==0){
        console.log("butt1"+i)
        document.getElementById('butt1'+i).style.display="block";
        console.log(hint_i);
        hint_i++;
      }
      else if(hint_i==1){
        document.getElementById('butt2'+i).style.display="block";
        hint_i++;
        console.log(hint_i);
      }
      else if(hint_i==2){
        document.getElementById('butt3'+i).style.display="block";
        hint_i++;
        console.log(hint_i);
      }
      else if(hint_i==3){
        document.getElementById('butt4'+i).style.display="block";
        hint_i++;
        console.log(hint_i);
        console.log('hint'+(currentTab+1))
        document.getElementById('hint'+(currentTab+1)).disabled=true;
      }
    }
    function showTab(n) {
      var x = document.getElementsByClassName("tab");
      console.log(x.length);
      x[n].style.display = "block";
      if (n == (x.length - 1)) {
        document.getElementById("nextBtn").innerHTML = "Submit";
      } else {
        document.getElementById("nextBtn").innerHTML = "Next";
      }
      fixStepIndicator(n)
    }
    
    function nextPrev(n,ans) {
      var val=validateForm();
      if(!val){
        return false;
      }
      if(document.getElementById("nextBtn").innerHTML ==="Submit"){
        console.log("Submitted")
        return false;
      }
      console.log(JSON.parse(ans)[currentTab]);
      console.log(document.getElementsByName('ans'));
      if((JSON.parse(ans)[currentTab])===(document.getElementsByName('ans')[currentTab].value)) {
        score=score+100-hint_i*10;
        console.log("Correct")
        console.log(score);
        arr.push(hint_i);
        console.log(JSON.stringify(arr));
        document.getElementsByClassName("step")[currentTab].className += " finish";
      }
      else{
      console.log("wrong");
      console.log(score);
      arr.push(hint_i);
      console.log(JSON.stringify(arr));
      document.getElementsByClassName("step")[currentTab].className += " wrong";
      }
      var x = document.getElementsByClassName("tab");
      x[currentTab].style.display = "none";
      currentTab = currentTab + n;

      
      showTab(currentTab);
      hint_i=0;
    }
    function fixStepIndicator(n) {
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
      }
      x[n].className += " active";
    }
    function validateForm() {
      var x, y, i, valid = true;
      x = document.getElementsByClassName("tab");
      y = x[currentTab].getElementsByTagName("input");
      for (i = 0; i < y.length; i++) {
        if (y[i].value == "") {
          y[i].className += " invalid";
          valid = false;
        }
      }
     
      return valid;
    }
    

var span = document.getElementsByClassName("close")[0];
      span.onclick = function() { 
          modal.style.display = "none";
      }
</script>
<%- include("partials/footer") %>