<%- include("partials/header") %>
<% if(user.role==="admin" ) {%>
    <%- include("partials/adminSideBar") %>
    <%- include("partials/no_patient",{msg:[i18n.NoPatients0,i18n.Createdyet0]})%>
<% } else { %>
    <%- include("partials/doctorSideBar") %>
    <%- include("partials/no_patient",{msg:[i18n.NoPatients1,i18n.assignedforyou1]})%>
<% } %>
        <div class="container-fluid" id="view-patients">
            <%- include("partials/flashMsg") %>
            <div class="row justify-content-center ms-5">
                <div class="ms-3 col-11 col-sm-10 col-md-11 p-2">
                    <h1 class="text-center p-2 display-4 fw-bold font-monospace">
                        <% if(user.role==="admin" ) {%>
                            <%=i18n.Our%> <span class="blue"><%=i18n.Patients1%> </span>
                        <% } else { %>
                            <%=i18n.Listof0%> <span class="blue"><%=i18n.Patients0%> </span>
                        <% } %>
                        <i class="fa-solid fa-bed-pulse blue"></i>
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center ms-5">
                <% let len=patients.length %>
                <% patients.forEach((patient)=> { %>
                    <% if (patient.status !== 'active' && user.role === 'doctor') { %>
                        <% len=len-1 %>
                        <!-- Do nothing -->
                    <% } else { %>
                        <div class="ms-3 ms-xl-0 col-11 col-xl-5 py-2">
                            <div class="card box-shadow p-2 h-100 border-3 animate__animated animate__bounceInUp">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-6 my-auto">
                                        <img src="data:image/<%=patient.displaypic.contentType%>;base64,<%=patient.displaypic.data.toString('base64')%>" class="card-img-top rounded-circle p-1 box-shadow img-fluid"
                                            alt="..." style="border: 3px solid #6c63ff;"/>
                                    </div>
                                    <div class="col-sm-6 my-auto">
                                        <div class="card-body text-truncate">
                                            <h1 class="card-title text-truncate"><%=patient.name%></h1>
                                            <hr>
                                            <p class="card-text h5 text-truncate">
                                                <span>
                                                    <a class="text-dark" href="mailto:<%=patient.email%>" style="text-decoration:none;"><%=patient.email%></a>
                                                </span>
                                            </p>
                                            <p class="card-text h5">
                                                <%=patient.age%>
                                            </p>
                                            <% if(user.role==="doctor") {%>
                                            <div class="d-flex justify-content-center justify-content-sm-end align-items-end">
                                                <form action="/discharge/<%=patient._id%>?_method=PUT" method="POST" id="<%=patient._id%>">
                                                    <button class="btn btn-lg btn-danger white" type="button" onclick="discharge('<%=patient._id%>')">
                                                    <%=i18n.Discharge%></button>
                                                </form>
                                                <a href="/chat/<%=patient._id%>" class="btn btn-lg btn-primary white ms-2 btn-lg" id="review"
                                                    ><i class="fa-solid fa-message"></i></a>
                                            </div>
                                            <%}else{%>
                                            <p class="card-text h5 <%=patient.doctorid%>">
                                                
                                            </p>
                                            <div class="d-flex justify-content-end align-items-end">
                                                <form action="/active/<%=patient._id%>?_method=PUT" method="POST">
                                                    <button class="btn btn-success white btn-lg
                                                        <%if(patient.status === 'active'){%>d-none<%}%>
                                                    " type="submit"  
                                                    >
                                                    <%=i18n.Activate%></button>
                                                </form>

                                                <button class="btn btn-primary white ms-1 d-none btn-lg d-md-block" type="button" data-bs-toggle="modal" data-bs-target="#doctorChange" data-bs-whatever='<%=patient._id%>,<%=patient.doctorid%>'><%=i18n.Edit1%> <i class="fas fa-user-md"></i></button>
                                                
                                                <form action="/delete/<%=patient._id%>?_method=DELETE" method="POST" id="del-<%=patient._id%>">
                                                    <button class="btn btn-danger white ms-1 btn-lg" type="button" onclick="delete_patient('<%=patient._id%>')">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-end d-block d-md-none">
                                                <button class="btn btn-primary btn-lg white my-1" type="button" data-bs-toggle="modal" data-bs-target="#doctorChange" data-bs-whatever='<%=patient._id%>,<%=patient.doctorid%>'><%=i18n.Edit1%> <i class="fas fa-user-md"></i></button>
                                            </div>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    <%- include("partials/doctorChange") %>
<script>
    let cards=document.getElementsByClassName('card');
    for(let i=0;i<cards.length;i++){
        cards[i].addEventListener("mouseenter", function(){
        this.classList.add('animate__pulse')
        });
        cards[i].addEventListener("mouseleave", function(){
        this.classList.remove('animate__pulse')
        });
    }
    setTimeout(function(){
      for(let i=0;i<cards.length;i++){
      cards[i].classList.remove('animate__bounceInUp')
    }
    },1000);
</script>
<script type="text/javascript">
    let doctor={};
    if(parseInt('<%=len%>')===0){
        document.getElementById('view-patients').classList.add('d-none');
        document.getElementById('no-data').classList.remove('d-none');
    }
    if('<%=user.role%>'==='admin'){
        getDocotrs();
    }
    function getDocotrs(){
        fetch('/data/users')
        .then(response => response.json())
        .then(user =>{
            get_doctors_list(user.users);
        });
    }

    function get_doctors_list(users){
        for(let i=0;i< users.length;i++){
            if(users[i].role === 'patient'){
                if(users[i].doctorid in doctor){
                    doctor[users[i].doctorid][1]++;
                }else{
                    doctor[users[i].doctorid]=['',1];
                }
            }else{
                if(users[i]._id in doctor){
                    doctor[users[i]._id][0]=users[i].name;
                }else{
                    doctor[users[i]._id]=[users[i].name,0];
                }
            }
        }
        setDoctorSelecr(doctor);
    }

    function setDoctorSelecr(doctor){
        for([key, val] of Object.entries(doctor)) {
            let option=document.createElement("option");
            option.value=key;
            option.id=key;
            if(val[1]===0){
                option.textContent=val[0]+' (<%=i18n.yettobeassigned%>)';
            }else{
                option.textContent=val[0]+' (<%=i18n.assignedfor%> '+val[1]+' <%=i18n.patients%>)';
            }
            let patient_card=document.getElementsByClassName(key);
            for(let xy=0;xy<patient_card.length;xy++){
                patient_card[xy].innerHTML=val[0]+' <i class="fas fa-user-md"></i>';
            }
            document.getElementById('doctor').appendChild(option);
        }
    }

    let doctorChange=document.getElementById('doctorChange');
    doctorChange.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var Ids = button.getAttribute('data-bs-whatever').split(',');
      for([key, val] of Object.entries(doctor)) {
          if(Ids[1]===key){
            document.getElementById(Ids[1]).setAttribute('disabled','');
          }else{
            document.getElementById(key).removeAttribute('disabled');
          }
      }
      document.getElementById('current-doc').innerHTML = '<%=i18n.CurrentAssignedDoctor%> : <strong>'+doctor[Ids[1]][0]+'</strong>';
      document.getElementById('changeDocForm').action='/change/doctor/'+Ids[0]+'?_method=PATCH';
   });

   function discharge(patientId){
        swal({
            title: "<%=i18n.Doyouwanttodischarge%>",
            text: "<%=i18n.Oncedischargedaccessthispatient%>",
            icon: "warning",
            buttons: ['<%=i18n.Cancel%>', '<%=i18n.Discharge%>'],
            className: "blue"
        })
        .then((discharge) => {
            if (discharge) {
                document.getElementById(patientId).submit();
                swal("<%=i18n.Thepatienthasbeendischargedsuccessfully%>", {
                icon: "success",
            });
            } 
        });
    }

    function delete_patient(patientId) {
        swal({
            title: "<%=i18n.Doyouwantpatient%>",
            text: "<%=i18n.Oncedeletthispatientdetails%>",
            icon: "warning",
            buttons: ['<%=i18n.Cancel%>', '<%=i18n.Delete%>'],
            className: "blue"
        })
        .then((isdelete) => {
            if (isdelete) {
                document.getElementById('del-'+patientId).submit();
                swal("<%=i18n.Thepatienprogress%>", {
                    icon: "info",
                });
            } 
        });
    }
</script>
<%- include("partials/footer") %>