<%- include("partials/header") %> 
<%- include("partials/doctorSideBar") %>
<div class="container-fluid">
  <div class="row justify-content-center pt-1">
    <div class="offset-2 col-8 offset-sm-1 col-sm-10 offset-md-1 col-md-8">
       <% if(message.error){ %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
             <strong class="text-center"><%= message.error%></strong>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
       <% } %>
       <% if(message.success){ %>
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
             <strong class="text-center"><%= message.success%></strong>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
       <% } %>
    </div>
 </div>
  <div class="row justify-content-center">
    <div class="offset-2 col-9 offset-sm-1 col-sm-9 offset-lg-0 col-lg-6 p-1">
      <h1 class="text-center p-2">
        <%=i18n.Listof%><span class="blue"> <%=i18n.Tests%></span> 
        <%=i18n.Created%> <i class="fas fa-calendar-check blue"></i>
      </h1>
    </div>
  </div>
  <%- include("partials/testTabs") %>
  <div class="row p-1 justify-content-center">
    <% let k=1,c_pending=0,c_paused=0,c_completed=0%>
    <% tests.forEach((test) => { %>
    <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-lg-5 p-2 <%=test.status%> test<%=k-1%>" id='test_list'>
      <div class="card box-shadow p-3">
        <div class="row align-items-center">
          <div class="col-md-6 my-auto">
            <img
              src="/images/exam.svg"
              class="card-img-top rounded-circle p-1 box-shadow"
              alt="..."
              style="border: 3px solid #6c63ff"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title p-1">Test <i class="fas fa-bell blue"></i></h5>
              <p class="card-text p-1">
                <i class="fas fa-question-circle blue"></i> : <%=test.noofquestion%>
              </p>
              <p class="card-text p-1">Level : 
                <%for(let i=1;i<=5;i++){%>
                  <%if(i<=test.level){%>
                    <span class = "fa fa-star checked"></span>
                  <%} else{%>
                    <span class = "fa fa-star unchecked"></span>
                  <%}%>
                <%}%>
                </p>
              <p class="card-text p-1">Status : <strong style="text-transform: capitalize;"><%=test.status%></strong></p>
              <div class="d-flex justify-content-end">
                <%if(test.status==='completed'){%>
                  <button class="btn btn-lg btn-success white m-2"  data-bs-toggle="modal" data-bs-target="#viewReport" data-bs-whatever="<%=test._id%>">
                    <i class="fas fa-poll"></i>
                  </button>
                  <% c_completed=c_completed+1%>
                  <a class="btn btn-lg btn-primary white m-2" href="/chat/<%=test.patientid%>"><i class="fa-solid fa-message"></i></a>
                <%} else if(test.status==='pending'){%>
                  <a class="btn btn-lg btn-primary white m-2" href='/edit/test/<%=test._id%>'
                    ><i class="fas fa-edit"></i></a>
                  <!-- <a class="btn btn-lg btn-danger white m-2" href='/delete/test/<%=test._id%>'
                    ><i class="fas fa-trash-alt"></i></a> -->
                    <form action="/delete/test/<%=test._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-lg btn-danger white m-2" type="submit">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>
                    <% c_pending=c_pending+1%>
                <%}else{%>
                  <% c_paused=c_paused+1%>
                  <button class="btn btn-lg btn-primary white m-2" disabled><i class="fas fa-edit"></i></button>
                  <button class="btn btn-lg btn-danger white m-2"disabled><i class="fas fa-trash-alt"></i></button>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%k=k+1%>
    <% }) %>
  </div>
</div>
<%- include("partials/viewReportModal") %>
<script>
$(window).on('load', function() {
  create_chart();
  count_number_of_tests('all',parseInt('<%=tests.length %>'));
  count_number_of_tests('pending',parseInt('<%=c_pending %>'));
  count_number_of_tests('paused',parseInt('<%=c_paused %>'));
  count_number_of_tests('completed',parseInt('<%=c_completed %>'));
});

document.getElementById('all').addEventListener('click',function(){
  for(var i=0;i<parseInt('<%=tests.length %>');i++){
      document.getElementsByClassName('test'+i)[0].classList.remove('d-none');
  }
});
document.getElementById('paused').addEventListener('click',function(){
  for(var i=0;i<parseInt('<%=tests.length %>');i++){
      document.getElementsByClassName('test'+i)[0].classList.add('d-none');
  }
  let paused=document.getElementsByClassName('paused');
  for(let i=0;i<paused.length;i++){
    paused[i].classList.remove('d-none');
  }
});
document.getElementById('pending').addEventListener('click',function(){
  for(var i=0;i<parseInt('<%=tests.length %>');i++){
      document.getElementsByClassName('test'+i)[0].classList.add('d-none');
  }
  let pending=document.getElementsByClassName('pending');
  for(let i=0;i<pending.length;i++){
    pending[i].classList.remove('d-none');
  }
});
document.getElementById('completed').addEventListener('click',function(){
  for(var i=0;i<parseInt('<%=tests.length %>');i++){
      document.getElementsByClassName('test'+i)[0].classList.add('d-none');
  }
  let completed=document.getElementsByClassName('completed');
  for(let i=0;i<completed.length;i++){
    completed[i].classList.remove('d-none');
  }
});

function count_number_of_tests(status,count) {
  document.getElementById(status).innerHTML='<strong style="text-transform: capitalize;">'+status+'</strong><span class="badge bg-danger ms-2">'+count+'</span>';
}

//------------------RES CHART------------------
var data = {
          labels: [
              "Correct answerd",
              "Wrong answerd",
          ],
          datasets: [
              {
                  data: [0, 100],
                  backgroundColor: [
                      "#10ba00",
                      "#ff3300",
                      
                  ],
                  hoverBackgroundColor: [
                      "#0b8000",
                      "#e62e00",
                  ]
              }]
      };
      var myDoughnutChart;
//------------------END------------------

  function test_execute(id){
    var win = window.open("/start/test/"+id);
    var timer = setInterval(function() {
        if (win.closed) {
            clearInterval(timer);
            window.location.reload();
        }
    }, 500);
  }

  var viewReport = document.getElementById('viewReport')
  viewReport.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var testid = button.getAttribute('data-bs-whatever')
    // fetch('/test/'+testid)
    //   .then(response => response.json())
    //   .then(test=>{
    //     test_res(test.score,test.noofquestion)
    //   });
  })

  function test_res(s,n){
    let total=n*100;
    let per=(s/total)*100;
    let score=document.getElementById('score');
    score.textContent=s+'/'+total;
    res_in_chart(per)
  }

  function create_chart(){
      var ctx = document.getElementById("res_Chart");
      myDoughnutChart = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            rotation:  86* Math.PI,
            circumference: 57.25 * Math.PI
          }
      });
  }

  function res_in_chart(per){
    data.datasets[0].data=[per,100-per]
    myDoughnutChart.data.datasets[0].data=[per,100-per];
    myDoughnutChart.update();
  }
</script>
<%- include("partials/footer") %>