<%- include("partials/header") %>
<% if(user.role==="admin" ) {%>
    <%- include("partials/adminSideBar") %>
<% } else { %>
    <%- include("partials/doctorSideBar") %>
<% } %>
        <div class="container" id="">
            <div class="row justify-content-center">
                <div class="offset-2 col-9 offset-sm-2 col-sm-8 offset-lg-0 col-lg-6 p-1">
                    <h1 class="text-center p-2 display-3 fw-bold">
                        <% if(user.role==="admin" ) {%>
                            <%=i18n.Our%>
                        <% } else { %>
                            List of
                        <% } %>
                        <span class="blue"><%=i18n.Patients%> </span>
                        <i class="fas fa-stethoscope blue"></i>
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center mx-0 mx-lg-5 p-0 p-lg-3">
                <% patients.forEach((patient)=> { %>
                    <div class="offset-2 col-9 offset-sm-2 col-sm-8 offset-md-0 col-md-10 offset-lg-0 col-lg-6 p-1">
                        <div class="card box-shadow p-3">
                            <div class="row d-flex h-100">
                                <div class="col-lg-6 my-auto">
                                    <img src="/images/undraw_doctors_hwty.svg" class="card-img-top rounded-circle p-1 box-shadow"
                                        alt="..." style="border: 3px solid #6c63ff" />
                                </div>
                                <div class="col-lg-6 my-auto">
                                    <div class="card-body">
                                        <h1 class="card-title"><%=patient.name%></h1>
                                        <hr>
                                        <p class="card-text h3">
                                            <%=patient.email%>
                                        </p>
                                        <p class="card-text h3">
                                            <%=patient.age%>
                                        </p>
                                        <div class="d-flex justify-content-end align-items-end">
                                            <a href="#" class="btn white" id="review"
                                                target="_blank"><i class="fas fa-trash-alt"></i></a>
                                            <% if(user.role==="doctor") {%>
                                                <a href="/chat/<%=patient._id%>" class="btn white mx-1" id="review"
                                                    ><i class="fa-solid fa-message"></i></a>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
<%- include("partials/footer") %>