<%- include("partials/header") %> 
<%- include("partials/doctorSideBar") %>
<div class="container">
  <div class="row justify-content-center">
    <div class="offset-2 col-9 offset-sm-2 col-sm-8 offset-lg-0 col-lg-6 p-1">
      <h1 class="text-center p-2">
        List of<span class="blue"> Tests</span> 
        Created <i class="fas fa-calendar-check blue"></i>
      </h1>
    </div>
  </div>
  <div class="row p-1 justify-content-center">
    <% tests.forEach((test) => { %>
    <div class="offset-2 col-9 offset-sm-1 col-sm-10  offset-lg-0 col-lg-6 p-1">
      <div class="card box-shadow p-3">
        <div class="row align-items-center">
          <div class="col-md-6 my-auto">
            <img
              src="/images/exam.svg"
              class="card-img-top rounded-circle p-1 box-shadow"
              alt="..."
              style="border: 3px solid #6c63ff"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title p-1">Test <i class="fas fa-bell blue"></i></h5>
              <p class="card-text p-1">
                <i class="fas fa-question-circle blue"></i> : <%=test.noofquestion%>
              </p>
              <p class="card-text p-1">Level : <%=test.level%></p>
              <div class="d-flex justify-content-end">
                    <button class="btn btn-lg btn-primary white">
                      Edit <i class="fas fa-edit"></i>
                    </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include("partials/footer") %>