<%- include("partials/header") %>
<% if(user.role==="admin"){ %>
    <%- include("partials/adminSideBar") %>
<%}else{%>
    <%- include("partials/doctorSideBar") %>
<%}%>
<%- include("partials/no_patient",{msg:[i18n.Noquestions,i18n.Createdyet1,'No questions']})%>
<div class="container-fluid" id='view-question'>
    <%- include("partials/flashMsg") %>
    <div class="row justify-content-center ms-5">
        <div class="ms-3 col-11 p-1">
          <h1 class="text-center display-4 p-3 font-monospace">
            <%=i18n.Listof%><span class="blue"> <%=i18n.Questions%></span> 
            <%=i18n.Created%>
          </h1>
        </div>
    </div>
    <div class="ms-5 text-center my-2">
        <a href="/addquestion" class="btn btn-primary btn-lg rounded-pill"><%=i18n.AddQuestion%> <i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="row justify-content-center align-items-center ms-5 mt-4">
        <div class="ms-3 col-11 col-lg-10 col-xl-8">
            <div class="row justify-content-center align-items-center p-1" id='div_list'>
                <% let len=question.length %>
                <% question.forEach((question)=>{ %>
                    <div class="col-12 border border-2 rounded-3 shadow-sm my-2 py-3">
                        <div class="card-image mx-0 p-sm-2">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-7 col-sm-9 col-lg-10">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-12 col-md-6">
                                            <p class="h6 text-truncate text-break"><%=question.name%></p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p class=""> 
                                                <%for(let i=1;i<=5;i++){%>
                                                  <%if(i<=question.level){%>
                                                    <span class = "fa fa-star checked"></span>
                                                  <%} else{%>
                                                    <span class = "fa fa-star unchecked"></span>
                                                  <%}%>
                                                <%}%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5 col-sm-3 col-lg-2 text-center">
                                    <a class="btn btn-primary white" href='/edit/question/<%=question._id%>'
                                            ><i class="fas fa-edit"></i></a>
                                    <form action="/delete/question/<%=question._id%>?_method=DELETE" class="d-inline-block" method="POST">
                                        <button class="btn btn-danger white" type="submit">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="hover-img text-center">
                                <span class="p-1 rounded-lg my-3">
                                    <img src="data:image/<%=question.question.contentType%>;base64,<%=question.question.data.toString('base64')%>" alt="image" class="img-fluid border border-2 rounded-3" style="height: 35vh;" id='qimg'/>      
                                </span>
                            </div>
                        </div>   
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="offset-2 offset-sm-1 offset-lg-0 ms-lg-5 text-center blue my-4 d-none" id="loader">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden"><%=i18n.Loading%>...</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    if(parseInt('<%=len%>')===0){
        document.getElementById('view-question').classList.add('d-none');
        document.getElementById('no-data').classList.remove('d-none');
    }
</script>
<script>
    let k=1;
    let isCompleted=false;
    window.onscroll = function(ev) {
        if (!isCompleted && ((window.innerHeight + window.scrollY+1) >= document.body.offsetHeight)) {
            document.getElementById('loader').classList.remove('d-none')
            fetch('/view/questions/'+(k*10))
            .then(response => response.json())
            .then(question=>{
                if(question.message==="No more questions")
                {
                    document.getElementById('loader').classList.add('d-none');
                    isCompleted=true;
                    return
                }
                for(let q=0;q<question.question.length;q++) {
                    append_div(question.question[q]);
                }
                document.getElementById('loader').setAttribute('hidden','');
            });
            k=k+1;
        }
    };

    function append_div(q){

        let div=document.createElement("div");
        
        div.className='ms-3 ms-md-0 col-11 border border-2 rounded-3 shadow-sm  my-2 py-3';

        let card_img=document.createElement('div');
        card_img.className='card-image mx-0 p-sm-2';

        let div_row=document.createElement('div');
        div_row.className='row align-items-center justify-content-center';

        let div_p=document.createElement('div')
        div_p.className='col-7 col-sm-9 col-lg-10';

        let div_p_row=document.createElement('div');
        div_p_row.className='row align-items-center justify-content-center';

        let div_p_row_1=document.createElement('div');
        div_p_row_1.className='col-12 col-md-6';

        let p=document.createElement('p')
        p.className='h6 text-truncate';
        p.textContent=q.name;

        div_p_row_1.appendChild(p);

        let div_p_row_2=document.createElement('div');
        div_p_row_2.className='col-12 col-md-6';

        p=document.createElement('p')
        p.className='h6';
        for(let x=1;x<=5;x++){
            let span=document.createElement('span');
            span.className='fa fa-star'
            if(x<=q.level){
                span.classList.add('checked')
            }else{
                span.classList.add('unchecked')
            }
            p.appendChild(span);
            p.innerHTML +=' '
        }
        div_p_row_2.appendChild(p);

        div_p_row.appendChild(div_p_row_1);
        div_p_row.appendChild(div_p_row_2);

        div_p.appendChild(div_p_row);

        let div_a=document.createElement('div')
        div_a.className='col-5 col-sm-3 col-lg-2 text-center';

        let a=document.createElement('a');
        a.className='btn btn-primary white';
        a.href='/edit/question/'+q._id;

        let i1=document.createElement('i');
        i1.className='fas fa-edit';
        a.appendChild(i1);

        let form=document.createElement('form');
        form.action='/delete/question/<%=question._id%>?_method=DELETE';
        form.method='POST'
        form.className='d-inline-block';

        let button = document.createElement('button');
        button.className='btn btn-danger white m-1'
        button.type='submit';

        let i2=document.createElement('i');
        i2.className='fas fa-trash-alt';
        button.appendChild(i2);

        form.appendChild(button);

        div_a.appendChild(a);
        div_a.appendChild(form);

        div_row.appendChild(div_p);
        div_row.appendChild(div_a);

        card_img.appendChild(div_row);

        let hover_img=document.createElement('div');
        hover_img.className='hover-img';

        let span=document.createElement('span');
        span.className='p-1 rounded-lg my-3';

        let img=document.createElement('img');
        img.className='img-fluid  border border-2 rounded-3';
        img.alt='image';
        img.style.cssText='height: 35vh;';
        img.id='qimg';
        img.src='data:image/'+q.question.contentType+';base64,'+arrayBufferToBase64(q.question.data.data);
        
        span.appendChild(img);
        hover_img.appendChild(span);

        card_img.appendChild(hover_img);
        div.appendChild(card_img);
        document.getElementById('div_list').append(div);
    }

    function arrayBufferToBase64(buffer) {
      var binary = '';
      var bytes = [].slice.call(new Uint8Array(buffer));
      bytes.forEach((b) => binary += String.fromCharCode(b));
      return window.btoa(binary);
    };
</script>
<%- include("partials/footer") %>