<%- include("partials/header") %>
<% if(user.role==="admin" ) {%>
    <%- include("partials/adminSideBar") %>
    <%- include("partials/no_patient",{msg:[i18n.NoPatients0,i18n.Createdyet0]})%>
<% } else { %>
    <%- include("partials/doctorSideBar") %>
    <%- include("partials/no_patient",{msg:[i18n.NoPatients1,i18n.assignedforyou1]})%>
<% } %>
        <div class="container-fluid" id="view-patients">
            <%- include("partials/flashMsg") %>
            <div class="row justify-content-center">
                <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-lg-6 p-1">
                    <h1 class="text-center p-2 display-3 fw-bold">
                        <% if(user.role==="admin" ) {%>
                            <%=i18n.Our%> <span class="blue"><%=i18n.Patients1%> </span>
                        <% } else { %>
                            <%=i18n.Listof0%> <span class="blue"><%=i18n.Patients0%> </span>
                        <% } %>
                        <i class="fas fa-stethoscope blue"></i>
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center mx-0 mx-lg-5 p-0 p-lg-3">
                <% let len=patients.length %>
                <% patients.forEach((patient)=> { %>
                    <% if (patient.status !== 'active' && user.role === 'doctor') { %>
                        <% len=len-1 %>
                        <!-- Do nothing -->
                    <% } else { %>
                        <div class="offset-2 col-9 offset-sm-1 col-sm-10 offset-lg-0 col-xl-5 p-1">
                            <div class="card box-shadow p-3">
                                <div class="row d-flex h-100">
                                    <div class="col-sm-6 my-auto">
                                        <img src="/images/undraw_doctors_hwty.svg" class="card-img-top rounded-circle p-1 box-shadow"
                                            alt="..." style="border: 3px solid #6c63ff" />
                                    </div>
                                    <div class="col-sm-6 my-auto">
                                        <div class="card-body">
                                            <h1 class="card-title"><%=patient.name%></h1>
                                            <hr>
                                            <p class="card-text h5">
                                                <%=i18n.Email%> : <%=patient.email%>
                                            </p>
                                            <p class="card-text h5">
                                                <%=i18n.Age%> : <%=patient.age%>
                                            </p>
                                            <% if(user.role==="doctor") {%>
                                            <div class="d-flex justify-content-end align-items-end">
                                                <form action="/discharge/<%=patient._id%>?_method=PUT" method="POST">
                                                    <button class="btn btn-primary white m-1" type="submit">
                                                    <%=i18n.Discharge%></button>
                                                </form>
                                                <a href="/chat/<%=patient._id%>" class="btn white m-1" id="review"
                                                    ><i class="fa-solid fa-message"></i></a>
                                            </div>
                                            <%}else{%>
                                            <p class="card-text h5 <%=patient.doctorid%>">
                                                
                                            </p>
                                            <div class="d-flex justify-content-end align-items-end">
                                                <form action="/active/<%=patient._id%>?_method=PUT" method="POST">
                                                    <button class="btn btn-primary white m-1" type="submit"
                                                        <%if(patient.status === 'active'){%>disabled<%}%>
                                                    >
                                                    <%=i18n.Activate%></button>
                                                </form>

                                                <button class="btn btn-primary white m-1 d-none d-md-block" type="button" data-bs-toggle="modal" data-bs-target="#doctorChange" data-bs-whatever='<%=patient._id%>,<%=patient.doctorid%>'><%=i18n.Edit%> <i class="fas fa-user-md"></i></button>
                                                
                                                <form action="/delete/<%=patient._id%>?_method=DELETE" method="POST">
                                                    <button class="btn btn-primary  white m-1" type="submit">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            
                                            </div>
                                            <div class="d-flex justify-content-end align-items-end d-block d-md-none">
                                                <button class="btn btn-primary white m-1" type="button" data-bs-toggle="modal" data-bs-target="#doctorChange" data-bs-whatever='<%=patient._id%>,<%=patient.doctorid%>'><%=i18n.Edit%> <i class="fas fa-user-md"></i></button>
                                            </div>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    <%- include("partials/doctorChange") %>
<script type="text/javascript">
    let doctor={};
    if(parseInt('<%=len%>')===0){
        document.getElementById('view-patients').classList.add('d-none');
        document.getElementById('no-data').classList.remove('d-none');
    }
    if('<%=user.role%>'==='admin'){
        getDocotrs();
    }
    function getDocotrs(){
        fetch('/data/users')
        .then(response => response.json())
        .then(user =>{
            get_doctors_list(user.users);
        });
    }

    function get_doctors_list(users){
        for(let i=0;i< users.length;i++){
            if(users[i].role === 'patient'){
                if(users[i].doctorid in doctor){
                    doctor[users[i].doctorid][1]++;
                }else{
                    doctor[users[i].doctorid]=['',1];
                }
            }else{
                if(users[i]._id in doctor){
                    doctor[users[i]._id][0]=users[i].name;
                }else{
                    doctor[users[i]._id]=[users[i].name,0];
                }
            }
        }
        setDoctorSelecr(doctor);
    }

    function setDoctorSelecr(doctor){
        for([key, val] of Object.entries(doctor)) {
            let option=document.createElement("option");
            option.value=key;
            if(val[1]===0){
                option.textContent=val[0]+' (yet to be assigned)';
            }else{
                option.textContent=val[0]+' (assigned for '+val[1]+' patients)';
            }
            let patient_card=document.getElementsByClassName(key);
            console.log(patient_card)
            for(let xy=0;xy<patient_card.length;xy++){
                patient_card[xy].textContent='<%=i18n.AssignedDoctor%> : '+val[0];
            }
            document.getElementById('doctor').appendChild(option);
        }
    }

    let doctorChange=document.getElementById('doctorChange');
    doctorChange.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var Ids = button.getAttribute('data-bs-whatever').split(',');
      document.getElementById('current-doc').innerHTML = 'Current Assigned Doctor : <strong>'+doctor[Ids[1]][0]+'</strong>';
      document.getElementById('changeDocForm').action='/change/doctor/'+Ids[0]+'?_method=PATCH';
   });
</script>
<%- include("partials/footer") %>